[2016-08-08 04:35] line55 opened #4 "jade-scratch command missing"
![screenshot from 2016-08-08 00 33 43](https://cloud.githubusercontent.com/assets/468119/17469343/db63bb5c-5cff-11e6-8ff8-b7621812456f.png)

Hi there,

I can't seem to call the jade-scratch command from the repl.

[2016-08-08 08:14] NicolasPetton commented on #4
I think you have to update your version of jade.

[2016-08-08 08:33] NicolasPetton commented on #4
It seems that jade-scratch.el was not loaded when loading jade.el.  Can you test with the latest commit? (it will also be on MELPA after the next build)

[2016-08-10 19:19] line55 commented on #4
Tested with latest MELPA version, works! Many thanks!
👍

[2016-08-10 19:19] #4 closed

[2016-08-26 05:28] sandric opened #5 "Bad option: --listen"
I installed `node-nightly`, but even after that I can not see any listen option. I tried `--inspect` and `--debug` but it runs the program straight away and when I try to connect from emacs to that port it gives me failure..

[code]

[2016-08-26 08:11] NicolasPetton commented on #5
It is indeed --inspect, and I fixed the readme.

What happens when you use --inspect?

[2016-08-26 13:50] sandric commented on #5
If I run command in terminal I get:
[code]
Then in emacs with test.js buffer opened I run `jade-connect-to-nodejs` and get in message buffer:
[code]

Mb I didn't understand that you have to inspect waiting process in node - for example if code was an express application waiting for connection? Or if break point was set up? I saw there's stepping debugger in jade, should I use it for debug? Is ther

[2016-08-26 16:06] NicolasPetton commented on #5
sandric <notifications@github.com> writes:

Has your node process terminated by the time you try to connect to it
using Jade?

As long as you make sure that your nodejs process is alive when
connecting jade to it, you should not have to do anything else.

If your process is indeed alive when trying to connect, can you send me
a minimal test.js file that shows the issue?

[2016-08-27 01:01] sandric commented on #5
No, my project was simple test file that just runs couple of commands for testing output. I understand now - I should read docs more carefully - there's "eliminate debug lexems" in missing list, if you'll run command as so `node-nightly --inspect --debug-brk <your-file.js>` node will place break point at first line just like gdb would do and you can step from there, so you can then do `jade-connec

[2016-08-27 09:49] NicolasPetton commented on #5
sandric <notifications@github.com> writes:

Something else must be wrong, as I can evaluate JS code in the REPL
following your recipe without any jit-lock error.

What version of Emacs are you using?

[2016-08-27 17:01] sandric commented on #5
Hm, my emacs is 25.1.50.1. Maybe it corresponds to other error I get if I connect to chrome - after connect from emacs it looks like everything works normal, but as soon as I open developer tools console in chrome I get failure in emacs jade repl buffer with other jit-lock-function error:

`Error during redisplay: (jit-lock-function 2502) signaled (wrong-type-argument stringp nil)`

Don't you get

[2016-08-27 19:12] sandric commented on #5
Ok, I figured out that its not the issue with font-lock, although the error is spawned - if I turn off font-lock in emacs the real error is spawned when I try to connect to nodejs process.
When I try to connect to default repl, started with `node-nightly --inspect` in repl buffer when trying to type smth I get `Cannot find default execution context`. The same with `node-nightly --inspect --debug-b

[2016-08-28 07:47] NicolasPetton commented on #5
I think there are different things here:

- When you open the devtools in Chrome, it will close the connection to
  Jade, that is just how Chrome works and it is expected

- When a connection to Chrome is closed, you should not get an
  exception, so that seems to be a bug

- For some reason, you get a `Cannot find default execution context` in
  node-nightly, which is another bug, that I cannot r

[2016-08-30 01:01] sandric commented on #5
@NicolasPetton Ok, I'll try to create separate issue for chrome, thats right.
As for my `node-nightly`, npm package version is `1.6.0` and `node-nightly --version` for corresponding node version is giving me `v7.0.0-nightly2016082451f96dfcfc`

[2016-09-09 10:29] TatriX opened #6 "Sourcemap support"
Hi. Please take a look at https://github.com/TatriX/kite-mini.el
I've added some basic sourcemap support for similiar to jade kite-mini project.
It's actually very primitive but I hope you can find it usefull because currently most of the projects use some kind of transformers like babel or typescript.

So to make it work I'm using the following:

[code]

Then in the buffer with `kite-mini-mode` I

[2016-09-10 22:07] NicolasPetton commented on #5
I have v7.0.0-nightly20160727868638b903 here, and Jade works fine, I can try upgrading it.

Regarding the issue when the connection to Chrome is closed, could you create an issue?

[2016-09-10 22:19] NicolasPetton commented on #6
Hi!

That looks interesting, would you consider putting this in the form of a
pull request?  I'd be happy to give you pointers and help if you need.

[2016-09-10 22:22] TatriX commented on #6
Sure I'll try to make a pull request.

[2016-09-16 09:48] kimgronqvist opened #10 "Websockets error"
Hi, first off - thank you very much for this great package :)

After upgrading recently, I get these error messages when I try to connect to a running chrome instance:

[code]

It used to work before, and I don't have devtools open.

I'm on Windows 8.1 using Emacs 25.1.

[2016-09-16 09:59] NicolasPetton commented on #10
Indeed, something is wrong with the version of seq.el used.

[2016-09-16 22:47] #10 closed

[2016-09-17 09:47] kimgronqvist commented on #10
Awesome, thank you very much :+1:

[2016-09-29 19:40] fhdhsni opened #11 "WS Error!"
Hi.
when I try `jade-connect-to-chrome` I get

[code]

I'm using `emacs 25.1.1` on Manjaro (Arch based) Linux.   Any idea? Thanks

[2016-09-30 08:31] NicolasPetton commented on #11
Which version of Jade are you using?

[2016-09-30 08:44] fhdhsni commented on #11
It's `20160916.1606`.

[2016-09-30 09:36] NicolasPetton commented on #11
Ok, this version should have a fix for your issue.
How do you load jade.el?

[2016-09-30 09:43] fhdhsni commented on #11
I use `use-package`
[code]

[2016-09-30 10:09] NicolasPetton commented on #11
Ok, and what do you get (once Jade is loaded) with `M-x
describle-function RET seq-map-indexed RET`?

[2016-09-30 10:55] fhdhsni commented on #11
I don't have this function. There're `seq-map`, `seq-mapn` and `seq-mapcat` but not `seq-map-indexed`

[2016-09-30 14:24] NicolasPetton commented on #11
I will have a look then, thank you for reporting the issue.

[2016-10-02 10:38] fhdhsni commented on #11
I don't know if these are helpful or not, but I'm going to paste it anyway. I deleted my `elpa` directory altogether to make `use-package` install everything from scratch. This is what I got at the end.
[code]

[2016-10-02 15:43] NicolasPetton commented on #11
Thanks, I'll look into it

[2016-10-17 04:07] robbyoconnor opened #13 "Name has trademark issues"
In case you weren't aware, there's a trademark issue here. See pugjs/pug/issues/2184 for more information...probably a wise idea to rename the project.

TL;DR: Jade was forced to switch to Pug. You'll face the same issues.

[2016-10-17 09:34] NicolasPetton commented on #13
Indeed, thanks for the reminder.

Any idea?

[2016-10-17 18:31] robbyoconnor commented on #13
AdeJ? (Awesome Development Environment for Javascript =) -- I'm not sure sadly -- I suck at naming things...but I don't want you to get the same thing...

[2016-10-18 01:29] bleggett commented on #13
DEEJ   (Development Environment in Emacs for Javascript)
JADEN (Javascript Awesome Development ENvironment)
JUDE (Javascript Ultimate Development Environment)

Alternatively, just pick a nice/fun word and forget about the acronym :)

[2016-11-06 21:44] mallt commented on #11
I had the same issue, but manually installing the `seq` package (2.19) resolved it.

[2016-12-13 14:58] CSRaghunandan opened #15 "WS Error when trying to connect to nodejs process"
I get the following error when I try to connect to a nodejs process

[code]

This is what I got in `*backtrace*` when I enabled `toggle-debug-on-error`

[code]

I'm running emacs master build on macOS Sierra.

[2016-12-13 16:14] NicolasPetton commented on #15
Hi!

What version of Chrom{e|ium} are you using?

[2016-12-13 16:33] CSRaghunandan commented on #15
Chrome version: `Version 54.0.2840.98 (64-bit)`

[2016-12-13 17:00] NicolasPetton commented on #15
No, but it looks like  you're trying to connect to a nodejs process.
How did you try to connect to chrome?

Can you try starting chrome like this:

`chrome --remote-debugging-port=9222`

On macOS, it should be something like:

`/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222`

Then from Emacs `M-x jade-connect-to-chrome`

[2016-12-13 17:06] NicolasPetton commented on #11
Commit https://github.com/NicolasPetton/jade/commit/856846322ea8077ffe6215b54f2f3676db5ccf61 should fix the issue.

[2016-12-13 17:06] #11 closed

[2016-12-13 17:20] CSRaghunandan commented on #15
That indeed works. I've an alias for the same. I can connect to a chrome tab no problem.
But, I'm unable to connect to a nodejs process

[2016-12-13 19:42] NicolasPetton commented on #15
What version of nodejs are you running?

[2016-12-14 04:16] CSRaghunandan commented on #15
`nodejs v.7.2.1`
Umm is it because I'm emacs master build that the connection to nodejs process is refusing?

[2016-12-14 09:15] NicolasPetton commented on #15
@CSRaghunandan no, it shouldn't be, I'll check what's wrong!

[2016-12-14 21:08] NicolasPetton commented on #15
I found what's wrong: nodejs 7.x.x uses a different version of the remote debugger protocol.
I'll push a fix soon, thanks for reporting the issue!

[2016-12-15 03:29] CSRaghunandan commented on #15
Thank for taking a look into this 👍

[2017-02-13 23:35] ldk-lx commented on #15
I am experiencing this issue with node 6.9.1, 6.9.5, and 7.5.0. So I am not sure it is version-related. The error I get with 6.9.5 is as follows:

[code]

[2017-02-14 10:16] NicolasPetton commented on #15
ldk-lx <notifications@github.com> writes:

It is actually a problem with updating to the remote debugger protocol
of the latest version of Chrome, which has diverged from the one used in
Node.  I have a work in progress branch with a fix, I'll push an update
soon.

[2017-02-14 20:01] rcfox opened #16 "Disconnecting kills buffers with active interaction mode"
If I enable jade-interaction-mode in a buffer and then eval an expression, that buffer will be killed upon calling jade-quit. This is unexpected and undesirable. If no expressions are eval'd they are not killed.

I think it would be best to leave all jade buffers open, but disable jade-interaction-mode for source buffers and mark the other buffers as read-only.

Using version 20161210.804 from mel

[2017-02-17 12:07] Ninerian opened #17 "jade-connect-to-chrome not available"
Hello,

I followed your instructions until the point

[code]

But the command isn't available. What could be wrong?

I use Emacs 25.1 with prelude installed.

[2017-02-17 13:45] NicolasPetton commented on #17
Hi!

Can you tell me a bit more:

- how did you install & load jade?
- do you have any `jade-` command available?
- which version are you running?

[2017-02-17 14:20] Ninerian commented on #17
I installed it via  `(prelude-require-packages '(js2-mode json-mode jade))`

the package information:

[code]

M-x jad

[code]

Emacs-version: GNU Emacs 25.1.1 (x86_64-apple-darwin15.6.0) of 2016-09-17

[2017-02-17 15:09] NicolasPetton commented on #17
Ninerian <notifications@github.com> writes:

Ok, you need to update Jade then, you're running an old version :)

[2017-02-17 15:17] sudarshang commented on #17
@Ninerian you need to have the following  melpa package

http://melpa.org/#/jade

From your comment

you seem to have installed this one

http://melpa.org/#/jade-mode

[2017-02-17 15:19] Ninerian commented on #17
Sorry, I copied the wrong information. Here is the correct one

[code]

[2017-02-17 16:48] NicolasPetton commented on #17
That is weird, `jade-connect-to-chrome` definitely is in this version.

Can you try M-x find-library RET jade-chrome RET and tell me if you
see the function there?

[2017-02-17 18:46] Ninerian commented on #17
Here you'll find my emacs files.

https://github.com/Ninerian/.emacs.d

Maybe this helps.

Am 17. Februar 2017 um 17:48:53, Nicolas Petton (notifications@github.com(mailto:notifications@github.com)) schrieb:

[2017-02-20 06:54] Ninerian commented on #17
I've found the solution. I had to add `(require 'jade)` to my config.

Thank you for your help.

[2017-02-20 06:54] #17 closed

[2017-02-20 08:41] NicolasPetton commented on #17
You're welcome! Glad you found the issue!

[2017-02-24 16:59] #16 closed

[2017-02-24 16:59] NicolasPetton commented on #16
Thanks! Should be fixed in master.

[2017-02-24 17:00] NicolasPetton commented on #15
The issue should be fixed with commit cc68a200608e91176f03f0ef59c334e590ad72ea!

[2017-02-24 17:00] #15 closed

[2017-02-28 02:18] line55 commented on #13
Javascript Inspector and Tools for Emacs (JITE) ?

What about Let & Constly? Sounds like hip barber shop. Also bonus points for the ampersand.

[2017-02-28 08:44] s-kostyaev commented on #15
I have the same error with chromium Version 56.0.2924.87 (64-bit):
[code]

[2017-02-28 13:22] NicolasPetton commented on #15
@s-kostyaev can you give me the version of jade you're using, as well as Emacs?

Also, is Chrome running with the `--remote-debugging-port` flag set?

[2017-03-01 03:18] s-kostyaev commented on #15
@NicolasPetton jade  20170224.922, emacs 25.1, chromium has running with `--remote-debugging-port` flag.

[2017-03-01 12:49] NicolasPetton commented on #15
@s-kostyaev I cannot reproduce the issue, but I'll investigate more.

What OS are you using?
Can you open another issue as this one was related to nodejs?

[2017-03-01 12:56] s-kostyaev commented on #15
I use GNU/Linux. I will open another issue a little bit later.

[2017-03-01 13:03] NicolasPetton commented on #15
@s-kostyaev I need a bit of help to understand what's going on 😄

- When you try to connect to a tab, do you get the list of Chromium tabs in the minibuffer?
- Can you access http://127.0.0.1:9222/ from Chrome?

[2017-03-02 05:18] s-kostyaev commented on #15
Sorry for wasting your time. I'll try again and all works fine.

[2017-03-02 09:06] NicolasPetton commented on #15
@s-kostyaev I'm glad it works for you now!

[2017-03-06 14:07] DamienCassou opened #18 "Websocket error when opening a second REPL buffer"
How to reproduce:

1. open a jade connection on a chrome tab
1. duplicate the tab on chrome
1. close the first one but keep the REPL buffer open
1. open a jade connection to the chrome tab

[code]

[code]

![screenshot from 2017-03-06 15-04-25](https://cloud.githubusercontent.com/assets/217543/23613084/3e5efc52-027e-11e7-8848-3dd5dac768e3.png)

[2017-03-06 14:11] DamienCassou commented on #18
/cc @s-kostyaev

[2017-03-06 14:41] DamienCassou opened #19 "Wrong type argument: arrayp, nil"
Sometimes, while debugging, I'm not able to inspect (`C-c M-i` or `C-x C-e`) objects. I always get ` Wrong type argument: arrayp, nil`. Debugging Jade code reveals that `jade-interaction-node-before-point` calls `js2-node-parent` which return nil.

[2017-03-09 01:58] gopar opened #20 "WS Error! on-open (void-function seq-map-indexed)"
I get this when I run `jade-connect-to-chrome`. Using chromium.

GNU Emacs 25.1.1 (x86_64-apple-darwin13.4.0, NS appkit-1265.21 Version 10.9.5 (Build 13F1911)) of 2016-09-20

Also, when I do `(require 'jade)` I get:
[code]

Ideas?

[2017-03-20 12:03] TatriX commented on #20
I think the problem is this:
[code]
Change `(require seq-25)`  in jade.el to
[code]
It should do the trick for now.

[2017-03-20 13:56] #20 closed

[2017-03-20 13:56] NicolasPetton commented on #20
Commit 3e41fa6 should fix the problem. @gopar please tell me if it doesn't work for you.

[2017-03-21 09:15] NicolasPetton commented on #18
Commit 7cd3631 should fix the issue.

[2017-03-21 09:15] #18 closed

[2017-04-06 09:52] NicolasPetton commented on #5
@sandric Both the Chrome and NodeJS backend have changed quite a lot, so I'm closing this issue.

Feel free to reopen it if it's still an issue for you.

[2017-04-06 09:52] #5 closed

[2017-04-06 09:53] NicolasPetton commented on #19
@DamienCassou and I cannot reproduce the issue, so I'm closing it.

[2017-04-06 09:53] #19 closed

[2017-04-10 08:30] DamienCassou opened #21 "Don't show full print string of objects when too long"
![screenshot from 2017-04-10 10-28-41](https://cloud.githubusercontent.com/assets/217543/24852632/89a019c4-1dd8-11e7-9297-2af146c84857.png)

I think the print string could have `...` at the end when not fitting in a line.

[2017-04-10 08:57] DamienCassou opened #22 "Toggling a breakpoint tells me the breakpoint is already there"
I see a breakpoint in the fringe. I press `C-c b b` to remove it and get

[code]

[2017-04-10 09:26] DamienCassou opened #23 "The "locals" view only show a part of objects without telling its incomplete"
When displaying the locals (`l`), I see

[code]

But session contains other keys beyond these. I would like to get a `...` at the end to show more keys are present but can't be displayed.

[2017-04-10 09:29] NicolasPetton commented on #22
can you show me where the breakpoint is set and where is the point?
A screenshot would be great.

[2017-04-10 09:33] NicolasPetton commented on #23
I know about this, but unfortunately, that's Chrome's object preview, and you will have the same issue in Chrome's DevTools:

![screenshot from 2017-04-10 11-31-43](https://cloud.githubusercontent.com/assets/123539/24855296/6f03f19a-1de1-11e7-8fdc-c2b9e9f99a1d.png)

I'll keep it open anyway, as it would be worth fixing.

[2017-04-10 09:34] NicolasPetton commented on #21
Yes, I will do that. Thanks for reporting it.

[2017-04-10 09:57] #21 closed

[2017-04-10 09:57] NicolasPetton commented on #21
@DamienCassou Here's the fix:

![screenshot from 2017-04-10 11-55-58](https://cloud.githubusercontent.com/assets/123539/24856390/e59f176e-1de4-11e7-98f5-452435be841b.png)

[2017-04-10 10:00] NicolasPetton commented on #22
Damien Cassou <notifications@github.com> writes:

Does it happen all the time, or only once?

[2017-04-12 09:48] NicolasPetton commented on #22
The issue should be fixed in master.

[2017-04-12 09:48] #22 closed

[2017-04-12 10:57] DamienCassou opened #24 "Opening filenames in REPL inside Emacs"
Some error messages in the REPL contain JS file names:

[code]

I would like to be able to find this file within Emacs.

[2017-04-12 13:37] #24 closed

[2017-04-13 16:53] NicolasPetton commented on #13
The project is now named Indium!

[2017-04-13 16:53] #13 closed

[2017-04-13 20:13] robbyoconnor commented on #13
YAY! I'm happy now!

[2017-04-18 13:43] sunwukung opened #25 "WS error: make client process failed: Connection refused"
When trying to evaluate the following command (from [Getting up and Running](https://indium.readthedocs.io/en/latest/setup.html#nodejs)):

`M-x indium-connect-to-nodejs RET 127.0.0.1 RET PORT RET PATH`

 I get the following error:

`websocket-open: make client process failed: Connection refused, :name, websocket to ws://localhost:9229//c6face84-df0e-4af2-90b1-c3ce0b54b4fd, :buffer, nil, :host, loc

[2017-04-18 16:18] NicolasPetton commented on #25
@sunwukung can you show how you started the node process?

[2017-04-18 16:19] TatriX opened #26 "Edits JavaScript source live."
It would be awesome to have an ability to live reload the code.
Which can be implemented using https://chromedevtools.github.io/debugger-protocol-viewer/1-2/Debugger/#method-setScriptSource

[2017-04-18 16:25] NicolasPetton commented on #25
I just tried with node v7.2.1 installed through `nvm`, and using the following command-line arguments:

  node --inspect --debug-brk index.js

And I cannot reproduce the issue.

[2017-04-18 21:31] NicolasPetton commented on #26
This is now work in progress, see the #set-script-source branch.

[2017-04-19 01:31] notetiene opened #28 "Firefox support"
I'm currently trying to implement the Firefox backend. However, given the major differences between the Firefox remote debugging protocol and the Chrome one, I think it could be nice to include a todo list here.

- [ ] Implement the Firefox Remote Debugger Protocol Backend
  - [ ] Implement the protocol API (we might look at [this](https://github.com/segv/jss/blob/master/jss-browser-firefox.el)).

[2017-04-19 09:07] sunwukung commented on #25
Ah - it works if I add `--debug-brk` - but not without

[2017-04-19 09:22] NicolasPetton commented on #25
The issue is that your node process probably exited before you try to connect to it.

It you add `--debug-brk`, the process is suspended until you attach the Indium connection to it.

[2017-04-19 09:22] #25 closed

[2017-04-20 06:43] DamienCassou opened #30 "No idea why Chromium is waiting for Emacs"
Sometimes, Chromium waits for Emacs and Emacs shows a debugger at a particular line but there is no clue why. Maybe it's an invisible breakpoint, maybe it's an error in the code. Would it be possible to be more explicit?

[2017-04-20 06:51] DamienCassou opened #31 "Not clear if I should close current connection when opening a new one"
When opening a connection, Indium will often ask:

There is no clue what will happen if I answer No to this question. I propose this instead:

I can fix that if you agree on the problem and proposed solution.

[2017-04-20 06:54] DamienCassou opened #32 "Emacs sometimes freezes while opening a connection"
It already happened a few times that Emacs freezes for around 10 seconds consuming 100% CPU after I politely asked `M-x indium-connect-to-chrome`. After the delay, the REPL gets refreshed and everything is back to normal.

[2017-04-20 06:56] DamienCassou commented on #32
This just happened now while Chromium stopped at a breakpoint.

[2017-04-20 08:59] NicolasPetton commented on #30
- What do you mean by "Chromium waits for Emacs"?
- What debugger do you see (a JS debugger, edebug, something else?)
- Do you get errors in the *Messages* buffer?

[2017-04-20 09:29] NicolasPetton commented on #30
Also have you checked the REPL for error messages after you proceed?
If you hit a debugger, it's probably because you have errors in your code :)

[2017-04-20 09:55] #30 closed

[2017-04-20 09:56] #31 closed

[2017-04-20 09:57] NicolasPetton commented on #32
Do you have a recipe to reproduce it systematically?

[2017-04-20 13:36] #32 closed

[2017-04-21 12:42] TatriX opened #34 "Add "disable cache" feature"
Chrome dev tools has a convenient checkbox in the network tab called `disable cache`.
It's a very usefull feature and it would be great to have it in the Indium.

I think it should be something like this from a user's point of view:
[code]

https://chromedevtools.github.io/debugger-protocol-viewer/1-2/Network/#method-setCacheDisabled

[2017-04-24 08:18] DamienCassou opened #36 "Emacs stopping without a reason"
Sometimes Emacs stops on a line. The websocket buffer says it's because of a breakpoint but I killed all breakpoints (with `C-c b k`) and I don't see any anymore.

[2017-04-24 21:34] NicolasPetton commented on #36
Is commit 72e8e44 fixing your issue?

[2017-04-25 07:19] DamienCassou opened #37 "wrong type argument arrayp, nil"
When typing `C-x C-e` on a variable name whose value is undefined. It happened right after the debugger opened.

[2017-04-25 12:29] NicolasPetton commented on #37
Probably js2-mode parsing that was not done yet.

[2017-04-25 12:39] #37 closed

[2017-04-25 14:27] DamienCassou opened #38 "Add a command to remove all breakpoints in the current project"

[2017-04-26 08:47] NicolasPetton opened #39 "Add a command to enable/disable the debugger"
Chrome's API has an setting to pause execution on uncaught exception, all exceptions, or never.

[2017-04-26 08:48] NicolasPetton commented on #28
@notetiene do you want to start working on this? I always planned to add Firefox support, but it will take time.

[2017-04-26 08:49] NicolasPetton commented on #28
@notetiene also, since until now all backends are chrome/v8 centric, there might be refactorings to do in Indium to make it easier to implement. If that's the case, don't hesitate to tell me, I'll help the best way I can.

[2017-04-26 16:24] notetiene commented on #28
Thanks for you comments.

I'm really interested in supporting Firefox. Sadly, I don't have much time for the following 2 weeks and my current commits only cover common variables I found between the two backends.

I'll notify you when I start working on it. :smile:

[2017-05-02 06:52] stardiviner opened #40 "Indium keybindings affect other modes like Org-mode"
[code]

I enabled Indium like upper. And found that `[C-x C-e]` is bind to `indium-eval-last-node`.

[2017-05-03 08:23] DamienCassou opened #41 "While in debugger, I can't see the value of objects"
1. Add a breakpoint
2. Make sure to hit it
3. The debugger prints a message in the echo area
4. Move the cursor to a expression and press `C-x C-e`
5. You won't see the result in the echo area as the debugger keeps printing there

[2017-05-03 18:40] NicolasPetton commented on #40
`C-x C-e` is also bound to `eval-last-sexp` in emacs-lisp-mode, is that an issue?

[2017-05-03 18:41] NicolasPetton commented on #41
@DamienCassou would waiting 2 seconds be a solution, or would you like to remove the timer that reprints the debugger keybindings all together?

[2017-05-03 23:49] stardiviner commented on #40
No, I mean why I only enable `indium-interaction-mode` in js modes, but it setup keybinding org-mode too?

[2017-05-04 06:35] DamienCassou commented on #41
It would be better. What about waiting for the current message to disappear before displaying the debugger again? What about making `?` display the message?

[2017-05-04 08:16] NicolasPetton commented on #40
It should not, and I cannot reproduce the issue. Are you sure `indium-interaction-mode` is not enabled in your org buffers?

[2017-05-04 08:16] NicolasPetton commented on #41
The message gets redisplayed already after commands, so I could just remove the timer.

[2017-05-04 08:17] #41 closed

[2017-05-04 08:46] stardiviner commented on #40
After I restart Emacs, this issue disappeared. Sorry for distribution.

[2017-05-04 08:46] #40 closed

[2017-05-04 08:48] NicolasPetton commented on #40
no problem! Thanks for reporting issues :)

[2017-05-08 22:51] haroldcarr opened #42 "is there a mailing list to ask questions?"
I'm having problems setting breakpoints.

[2017-05-09 09:18] TatriX commented on #42
https://gitter.im/indium-emacs/Lobby

[2017-05-09 09:20] TatriX commented on #26
http://tatrix.org/public/video/emacs/indium.ogv

[2017-05-09 09:21] NicolasPetton commented on #42
There's no mailing-list, but as @TatriX mentioned, there's a gitter root.

[2017-05-09 09:21] #42 closed

[2017-05-09 09:24] NicolasPetton commented on #42
@haroldcarr you can also explain the issue you're facing here.

[2017-05-09 09:30] TatriX opened #43 "Add hook for set-script-source"
It's useful to run some code on the emacs/js side when script was updated.
For example I want to:
[code]
in the hook and then listen to it in the js app to rerende the page.

[2017-05-09 12:24] TatriX opened #44 "Add "disable cache""
There is a useful checkbox in the devtools `network tab -> disable cache` which disable cache when devtools is opened. It would be nice to have this feature in the Indium.

https://chromedevtools.github.io/devtools-protocol/1-2/Network/#method-setCacheDisabled

[2017-05-09 14:50] haroldcarr opened #45 "breakpoints not hit"
indium   : 20170504.117
    gnu emacs: 25.1.1
    chrome   : 58.0.3029.96 (64-bit)

App uses Oracle Jet 3.0.0 which uses require.js and knockout.

The top index file has

    <script data-main="ui/js/main" src="jet-v3.0.0/js/libs/require/require.js"></script>

I start up chrome via:

    open -n "/Applications/Google Chrome.app" --args --user-data-dir=/tmp/hcChromeDebugUserDataDir/  --remote-debug

[2017-05-09 15:53] #45 closed

[2017-05-09 15:53] haroldcarr commented on #45
USER ERROR: I had put the `.indium` file at the wrong level.

[2017-05-12 08:46] NicolasPetton commented on #39
There is already support for it: `indium-webkit-set-pause-on-exceptions` and `indium-v8-inspector-set-pause-on-exceptions`.

[2017-05-12 08:46] #39 closed

[2017-05-12 08:47] NicolasPetton commented on #36
@DamienCassou up?

[2017-05-12 08:50] NicolasPetton commented on #26
The `set-script-source` branch has landed in master!
It's now in the `0.5.0` release, and documented here: https://indium.readthedocs.io/en/latest/code-evaluation.html#live-code-update-hot-swapping-javascript-sources

[2017-05-12 09:30] #26 closed

[2017-05-12 09:59] TatriX opened #47 "Can only perform operation while paused."
`M-x indium-run-chrome`
connect to a tab.
add `throw "test"` to a code.
On entering debugger press `SPC`.
After that indium will give me `Can only perform operation while paused.` on most of the requests.

If I choose "continue" everyting is fine though.

[2017-05-12 10:04] TatriX commented on #43
See #46

[2017-05-12 10:29] DamienCassou commented on #36
I'm closing for now and will reopen if the problem persists.

[2017-05-12 10:29] #36 closed

[2017-05-12 10:29] DamienCassou commented on #36
Thanks for your hard-work.

[2017-05-12 10:48] TatriX commented on #44
Duplicate.

[2017-05-12 10:48] #44 closed

[2017-05-12 13:12] #34 closed

[2017-05-12 13:15] NicolasPetton commented on #43
Closed in #46.

[2017-05-12 13:15] #43 closed

[2017-05-12 15:49] #47 closed

[2017-05-13 13:24] TatriX opened #50 "Improve console printing"
Currently if I log multiple things like this:
[code]
What I get is:
[code]
It would be useful to merge short output into one line separated by comma.

Another thing which is extremely useful is a file:line of the message source. Currently there is no way to distinguish between
[code]
and
[code]

[2017-05-15 11:39] spacebat opened #51 "Preview booleans are always rendered as false"
If I enter `[{"one": true}]` into the JS repl, then inspect the resulting array, the buffer starts with:
[code]
If I enter `[true]` then the result is printed with preview as:
[code]
In both cases, inspecting the value itself renders the boolean correctly. I have tracked this to `indium-webkit--description` where the case for true is never matched. If I change the case matched for to the string "t

[2017-05-15 13:17] NicolasPetton commented on #51
Fixed in 244a55d1a85ef013d7fbf0dc5cb28ec253989528

[2017-05-15 13:17] #51 closed

[2017-05-17 21:52] NicolasPetton opened #53 "Indium debugger flickers when not using local files"
Unless a workspace is used, when stepping using the debugger the source buffer flickers.

[2017-05-18 13:48] DamienCassou opened #54 "Cannot inspect :json-false"
While in the debugger, I typed `C-x M-i` on a boolean variable.

[code]

[2017-05-18 14:39] DamienCassou commented on #54
Should be fixed by f8195d8dbca1171b395fec1d5e86929f31f99ae6.

[2017-05-18 14:39] #54 closed

[2017-05-18 20:10] NicolasPetton commented on #53
The issue is that the debugger buffer is killed, then a new one is made when the execution is paused again for the next step.

[2017-05-18 20:21] #53 closed

[2017-05-21 03:46] dwrz opened #57 "Not able to get up and running"
I tried following the documentation to get Indium running, but get stuck here:

"Start a process with M-x indium-run-node."

That command doesn't seem to exist.

Any ideas?

[2017-05-21 07:58] TatriX commented on #57
Can you run `C-h f indium-connect-to-nodejs`?

[2017-05-21 15:13] dwrz commented on #57
That doesn't seem to work. The only thing that comes up on swiper is indium-interaction-mode. Am I doing anything wrong?

[2017-05-21 21:12] NicolasPetton commented on #57
@dwrz can you tell us which version of Indium have you installed, and how? Also, how did you load it?

[2017-05-22 23:03] dwrz commented on #57
Thanks @NicolasPetton!

I installed it via MELPA, the current version is 20170519.1411. I'm on Emacs 25.2.

[2017-05-23 03:05] babinc commented on #57
I had the same thing happen. I tried all kinds off stuff. I finally got the node command to come back. Below are things I tried

Closing all running node processes
Uninstalled and installed indium again
Double checked for errors in my emacs config

[2017-05-23 08:43] NicolasPetton commented on #57
@dwrz do you require Indium? `(require 'indium)` in your Emacs config?

[2017-05-23 08:44] NicolasPetton commented on #57
@dwrz What happens after you do `M-: (require 'indium) RET`?

[2017-05-23 10:13] NicolasPetton commented on #57
@dwrz I found the problem: Indium-interaction.el only has an autoload for `indium-interaction-mode`. I'm removing it for now (I'll add autoloads later).

[2017-05-23 10:27] #57 closed

[2017-05-23 10:28] NicolasPetton commented on #57
@dwrz can you tell me if 3316f78 fixes your issue?

[2017-05-23 14:09] dwrz commented on #57
@NicolasPetton -- yes, and sorry, I ran `M-: (require 'indium) RET` and it worked. I didn't have it in my init and now the commands are showing up. I think I have another issue, but I'll search and open a new thread for it if I can't resolve it. Thanks very much!

[2017-05-23 14:14] dwrz opened #59 "Process indium-nodejs-process exited abnormally with code 9 node: bad option: --inspect"
I get the following when running indium-run-node:

    Process indium-nodejs-process exited abnormally with code 9
    node: bad option: --inspect

Running node from the terminal with `node --inspect --debug-brk` seems to work.

[2017-05-23 14:16] NicolasPetton commented on #59
which version of nodejs do you have?

[2017-05-23 14:42] dwrz commented on #59
7.10 -- I followed the documentation.

`/home/user/.nvm/versions/node/v7.10.0/bin/node`

[2017-05-23 19:35] TatriX commented on #59
Could you please evaluate in emacs
[code]
and in your shell
[code]

[2017-05-23 19:40] dwrz commented on #59
`/usr/bin/node`

[2017-05-23 19:43] TatriX commented on #59
I think this is a reason. You should check https://github.com/purcell/exec-path-from-shell

[2017-05-23 19:56] sudarshang commented on #59
Does indium support [nvm](https://github.com/rejeep/nvm.el)? That could be another option to get the right version of node.js to work with Indium.

[2017-05-24 09:07] NicolasPetton commented on #59
@sudarshang @dwrz what puzzles me is that Indium starts the `node` process through bash, exactly for this.

@dwrz what does the following return `(shell-command-to-string "bash -c 'which node'")`

[2017-05-24 09:18] TatriX commented on #59
As I can see it should be shell from `shell-file-name`, not bash.

[2017-05-24 09:22] NicolasPetton commented on #59
@TatriX I see now that the exec path is anyway not setup correctly. I'll add a dependency to `exec-path-from-shell` which solves the problem on *nix.

[2017-05-24 09:22] #59 closed

[2017-05-24 09:23] NicolasPetton commented on #59
@dwrz can you confirm that af23fc4 fixes the issue for you?

[2017-05-24 09:49] TatriX opened #60 "Add an option to hide REPL buffer after connect"
It would be convenient if I can set an option which will prevent REPL buffer from showing after connection to a chrome process.

[2017-05-24 15:23] dwrz commented on #59
@NicolasPetton -- confirming -- thanks for your time and help!

[2017-05-28 22:05] TatriX opened #61 "Enhance inspector"
Currently simple object like
[code]
is printed like
[code]

It would be awesome if default noisy methods could be hidden or at least moved down.

[2017-05-30 12:40] #61 closed

[2017-05-30 20:15] NicolasPetton opened #63 "indium-interaction-node-before-point sometimes returns the wrong node"
In particular, it doesn't work with the following:

[code]

[2017-05-30 20:53] #63 closed

[2017-05-31 09:11] DamienCassou opened #65 "Indium should propose existing workspaces when it can't find one"
Sometimes I do `M-x indium-connect-to-chrome` from a directory outside of the JS project. This is annoying because the debugger won't find my local files. It would be great if `indium-connect-to-chrome` could ask for a known workspace to bind to if it can't find any where `indium-connect-to-chrome` is started. That could for example be implemented with a `defcustom` remembering workspaces.

[2017-05-31 09:11] DamienCassou commented on #65
it would be even better if Indium could automatically populate known workspaces in the variable.

[2017-05-31 09:44] TatriX commented on #65
You can `M-x cd [RET] /path/to/project` from the REPL buffer to fix the running connection.

[2017-05-31 15:19] #65 closed

[2017-05-31 15:56] NicolasPetton commented on #65
@TatriX now you can do it, see 2389c05

[2017-06-02 00:08] TatriX commented on #60
Thanks to new hook it can be done as follows:
[code]

[2017-06-02 00:08] #60 closed

[2017-06-02 00:13] TatriX commented on #60
Probably this example can be added to the hook docs?

[2017-06-09 11:05] Eoksni opened #68 "Is OS Windows not supported?"
I experience a lot of weird behavior on Windows - can't even press RET in the repl buffer. So should I make a detailed bug report or Windows is simply not supported so I shouldn't bother?

[2017-06-09 12:53] NicolasPetton commented on #68
I have not tried Indium in Windows, but I see no reason why it should
not be supported.

Please create an issue with a more detail explanation of the problem.

[2017-06-09 14:52] Eoksni opened #69 "indium repl doesn't work"
Running `M-x indium-run-node RET node `  results in
[code]
The function to drop this error was `indium--setup-exec-path` and it seems to be optional (by the way, to me it seems like a terrible idea to manipulate global exec-path without warning or interacting with user in any way - if I understand correctly what this function does) so I executed `(setq indium-exec-path-setup t)` by myself to skip

[2017-06-09 14:52] Eoksni commented on #68
Sure, here you go https://github.com/NicolasPetton/Indium/issues/69

[2017-06-09 14:52] #68 closed

[2017-06-09 15:01] NicolasPetton commented on #69
Thanks for reporting the issue!

I'd need a few more info:

1. which version of NodeJS are you running?
2. how did you install NodeJS?
3. in `eshell`, which version of nodejs do you have?

[2017-06-09 15:01] NicolasPetton commented on #69
Regarding `exec-path-from-shell`, I will most probably remove it and document the problem in the manual instead.

[2017-06-09 15:04] Eoksni commented on #69
both in eshell and cmd:
[code]
I installed it by downloading install package from their web site https://nodejs.org/en/ from the "Current" button. It was a while ago, so now they have different version on the main page - 8.1.0.

[2017-06-09 15:10] NicolasPetton commented on #69
Ok, and what's the content of the `*node process*` buffer?

[2017-06-09 15:11] Eoksni commented on #69
`*node process*`:
[code]

[2017-06-09 15:13] NicolasPetton commented on #69
Ok, thanks. Nothing wrong from what I see, I'll need to fire up a Windows VM and try it.

[2017-06-09 15:15] NicolasPetton commented on #69
@Eoksni could you try with a connection to a Chrome tab in Windows?

[2017-06-09 15:24] Eoksni commented on #69
@NicolasPetton yep, with Chrome the repl works fine.

[2017-06-09 15:26] Eoksni commented on #69
Btw I used `indium-connect-to-chrome`, not an `indium-run-chrome` as chrome is not in my PATH.

[2017-06-09 15:39] NicolasPetton commented on #69
Thank you, this is helpful.

[2017-06-09 15:40] Eoksni commented on #69
No problem! Thank you for the very quick replies, looking forward to using indium after this issue is fixed - indium looks very nice, at least from the gifs at the readme ;)

[2017-06-09 16:26] NicolasPetton commented on #69
Commit e9b0104 works for me with node 8.1.0 in Windows 10. You should get a message similar to the following in the `*node process*` buffer:

[code]

If you see

[code]

It means that the node process has exited, that might be why you cannot execute anything in the REPL.

[2017-06-09 16:48] Eoksni commented on #69
Ok I will try tomorrow with 8.1.0. Btw I don't see any of those messages with 7.7.1, just `Debugger listening on port 9229.`

[2017-06-10 06:20] Eoksni commented on #69
It does work with 8.1.0, awesome! Thank for your help.

P. S. Still no `Debugger attached` in the `*node process*` tho:
[code]

[2017-06-10 06:20] #69 closed

[2017-06-16 01:31] dwrz opened #70 "Infinite Loop Protection"
I accidentally evaluated the buffer in indium-scratch, which had an infinite loop as written. The REPL was stuck printing returned values.

After quitting indium -- not sure if this was the right course of action -- I saw a bunch of errors scrolling through the minibuffer, too quickly to read.

Then Emacs froze.

Again, not sure if there is a better command to run, or if this is really a node.js i

[2017-06-16 08:27] NicolasPetton commented on #70
David Wen Riccardi-Zhu <notifications@github.com> writes:

Can you show me some code snippet?

I will try to reproduce it.

[2017-06-16 14:43] dwrz commented on #70
How about this:
`while (1 > 0) { console.log('Infinity!'); }`

Emacs didn't freeze this time, but it basically becomes unusable -- M-x, C-x C-b, etc. -- not working.

[2017-06-19 09:15] NicolasPetton commented on #70
David Wen Riccardi-Zhu <notifications@github.com> writes:

What happens in Chrome devtools?

[2017-06-19 09:38] dwrz commented on #70
Surprisingly, it crashes the browser there, too.

repl.it has a nice feature: https://repl.it/Ir4p/0.

A few other browser based REPL's I've come across also seem to have it.

Nicolas Petton <notifications@github.com> writes:

--
dwrz|朱为文

[2017-06-25 16:15] dunn opened #71 "test failure on Travis Linux: "No buffer named *JS REPL*""
I was trying to update a Homebrew formula for Indium, and when Travis runs `buttercup -l test/test-helper.el -L .` on a "Precise" Linux worker I see these test failures:
[code]
Full logs: https://travis-ci.org/dunn/homebrew-emacs/jobs/241658581#L1308

Node is installed, and the tests pass on the macOS worker.  Any idea what might be going on?  Thanks!

[2017-06-25 19:51] NicolasPetton commented on #71
Alex Dunn <notifications@github.com> writes:

Does it work locally?

My guess is that it's a timeout issue. These tests start a node
process and do integration tests. The timeout for the node process to be
started it 1 second.

[2017-07-17 14:33] NicolasPetton commented on #71
@dunn Have you tried to run the tests locally?

[2017-07-17 14:35] NicolasPetton commented on #70
Since Chrome doesn't protect you from infinite loops, I'm not sure Indium should. I'm keeping this issue open to collect opinions.

[2017-07-17 15:55] dwrz commented on #70
Thank you, Nicolas. I'm quite new to JS development and Emacs, so am not sure what's best; I also realize the feature might not be trivial to implement.

One difference I'd point out is that a crash in Emacs is more likely to affect work outside the project (personal org-mode buffers, irc, etc.).

That said perhaps the real solution is that the user should code more carefully, employ more stringen

[2017-07-17 19:15] NicolasPetton commented on #70
David Wen Riccardi-Zhu <notifications@github.com> writes:

Well, the best would be to have support for it, but since V8 doesn't
provide anything like that, it will be quite tricky to implement in
Indium.

[2017-07-19 16:50] lepieru opened #72 "Is JSX support planned ?"
I did not found the aswer on the web so I ask here: *is JSX support planned ?*

[2017-07-20 06:02] vidjuheffex opened #73 "Issues with update to Version: 20170719.643"
Here's the output

[code]

[2017-07-20 07:55] dakra commented on #73
I get the same error. When trying to load indium I get:

[code]

[2017-07-20 13:39] kirkins opened #74 "Doesn't work on emacs 24"
Just wanted to report that this doesn't install on emacs 24 on Ubuntu.

[2017-07-20 14:01] dunn commented on #71
Hey, sorry for letting this linger.  The tests do pass locally, just not on Travis (I've seen this happen elsewhere).

Where should I try bumping the timeout?  I tried increasing the `sleep-for` calls in `test-helper.el` but that didn't work.

[2017-07-20 14:10] NicolasPetton commented on #71
You should also increase the `sleep-for` calls in
`test/integration/indium-nodejs-integratoin-test.el` and in `indium-repl-integration-test.el`.

[2017-07-20 14:40] NicolasPetton commented on #74
Yes, that's expected, as Indium requires Emacs 25.

[2017-07-20 14:40] #74 closed

[2017-07-20 14:41] dwrz commented on #73
Can also confirm the same error.

[2017-07-20 14:42] NicolasPetton commented on #73
Thanks for reporting the issue. Commit 8868d58 should fix it.

[2017-07-20 14:42] NicolasPetton commented on #73
You'll have to wait for the next Melpa build.

[2017-07-20 14:42] #73 closed

[2017-07-20 14:43] NicolasPetton commented on #6
Indium 0.7.x now has support for sourcemaps, so I'm closing this ticket.

[2017-07-20 14:43] #6 closed

[2017-07-20 14:47] NicolasPetton commented on #72
Since Indium supports sourcemaps, provided that you compile jsx sources with sourcemaps, you should be able to use Indium with it.

I'm not using jsx myself, but I'd like to know how it works for you if you give it a try.

[2017-07-20 23:04] dunn commented on #71
Checking now, but there are some `void-function` errors in the way: https://gist.github.com/anonymous/1b7a0d741991eb372d12d160e728091d

Should `test-helper.el` just `(require 'indium)` to avoid each test file having to require things separately?

[2017-07-21 09:03] NicolasPetton commented on #71
Alex Dunn <notifications@github.com> writes:

Can you try again? There was a dependency issue with sourcemap yesterday
that has been fixed.

[2017-07-21 14:04] dunn commented on #71
Same thing: `(void-function indium-connection-nodejs-p)`.

[2017-07-21 18:10] NicolasPetton commented on #71
That's weird, because the build is passing on my CI https://gitlab.petton.fr/nico/Indium/-/jobs/343
And it also works locally with `./run-tests.sh`.

Can you tell me how you are running the tests?

[2017-07-21 18:12] NicolasPetton commented on #71
Also, have you run `cask install`?

[code]

[2017-07-24 18:04] NicolasPetton opened #75 "Improve NodeJS process handling"
When executing `M-x indium-run-node`, as well as closing the current connection if there is one, Indium could kill the node process and start a new one.

Currently the user has to kill that process by hand before running `indium-run-node`.

/cc @vidjuheffex, who reported the usability issue on Gitter.

[2017-07-26 11:29] NicolasPetton opened #77 "Add support for webkit browsers"
The current webkit backend actually implement the Chrome protocol, which has diverged from Webkit when they forked it with Blink.

A new webkit backend would be needed, and the chrome/nodejs backend should be renamed to indium-v8.el

[2017-07-28 14:48] crazyatnet opened #78 "Cannot get breakpoint location"
Cannot get breakpoint location

[2017-07-28 16:17] NicolasPetton commented on #78
Hi! Thanks for reporting an issue!
Could you detail the issue you're facing?

[2017-07-28 17:15] NicolasPetton commented on #75
@vidjuheffex https://github.com/NicolasPetton/Indium/commit/a662fb0adb642bed3395e9dd8af737105b07cb53 should fix the issue.

[2017-07-28 17:15] #75 closed

[2017-07-29 01:18] crazyatnet commented on #78
My config is spacemacs,windows 10 x64 system &  GNU Emacs 25.2.1 (x86_64-w64-mingw32)
 of 2017-04-24

[2017-07-30 19:16] NicolasPetton commented on #78
@crazyatnet thanks.

To reproduce the issue, I'll need step by step instructions. Could you provide that?

[2017-07-31 01:42] crazyatnet commented on #78
I start my emacs，open a express project and start server with M-x indium-run-node, node .,continue,"This requires closing the current connection and its process.  Are you sure? (y or n) y" ;when i edit a javascript file Enabled modes belows.When i add a breakpoint with C-c b b in the script,i get a error "Cannot get breakpoint location".Other my node is v8.2.1 on windows 10 x64.

Enabled minor mod

[2017-07-31 07:52] NicolasPetton commented on #78
If you are using indium with an express project, wouldn't you have to start node with `node ./bin/www`?

[2017-08-01 01:15] crazyatnet commented on #78
Of course,I start server with "node ." after "M-x indium-run-node".

[2017-08-01 08:19] NicolasPetton commented on #78
Is the express app working as expected when you start it with `indium-run-node`?

[2017-08-01 08:31] crazyatnet commented on #78
Yes，server started and working properly.My project is like this [example](https://github.com/strongloop/loopback-getting-started).

[2017-08-02 15:24] NicolasPetton commented on #78
Huy Le <notifications@github.com> writes:

Can you please try installing Indium from MELPA (and not MELPA Stable)?

[2017-08-03 07:52] crazyatnet commented on #78
My indium installed from MELPA and version is 20170728.1109.

[2017-08-08 15:29] NicolasPetton opened #79 "Cannot remove breakpoints when its location has changed"
Steps to reproduce:

- Add breakpoint
- Insert a line before the breakpoint
- Try to remove the breakpoint

The breakpoint is never removed.

/cc @DamienCassou who found the issue.

[2017-08-08 15:30] NicolasPetton opened #80 "debug overlay on set on Chrome 60"
Chrome 60's page overlay API has changed, and Indium cannot set the debugging overlay anymore.

/cc @DamienCassou who found the issue.

[2017-08-08 17:13] #79 closed

[2017-08-08 17:14] NicolasPetton commented on #79
@DamienCassou Can you confirm that the issue is fixed for you as well?

[2017-08-08 21:18] TatriX opened #81 "Download sourcemap file if it wasn't found on disk"
Sourcemaps and sources are often served from the web server dynamically.
For example a popular `create-react-app` tool uses `webpack-dev-server` to serve them.
Currently Indium expects that sourcemap file can be found on the disk which is not the case in the example above.

I think Indium should first check if there is a file on the disk and otherwise download it from the network.

Also it's worth

[2017-08-09 07:47] NicolasPetton commented on #78
@huylenq the problem is that the package on MELPA stable is **very** old, so please install it from MELPA.

@crazyatnet I'll try to reproduce it with your repo example.  Could you tell me in which file you tried to set a breakpoint? Thanks!

[2017-08-09 12:51] DamienCassou opened #82 "Problems with changing code after adding breakpoint"
1. add a breakpoint somewhere
2. `M-x indium-reload`
3. it should stop at the breakpoint. Continue execution
4. Go to the beginning of the line and press `C-o`
5. The breakpoint is now at the new line but I expected it to stay at its line (*first problem*)
6. Press `C-c b k` on the new line
7. The breakpoint is removed from the new line (good) but a new one is added to the line after it (*second p

[2017-08-09 14:35] huylenq commented on #78
@NicolasPetton sorry for late response, the same issue does happen with package installed from MELPA

[2017-08-09 14:43] NicolasPetton opened #83 "`indium-debugger-here` is broken in Chrome 60"
The latest nodejs version should be checked as well.

[2017-08-09 15:05] NicolasPetton commented on #83
false alarm :)

[2017-08-09 15:05] #83 closed

[2017-08-09 15:42] NicolasPetton commented on #78
@huylenq thanks, I'll investigate.

[2017-08-10 02:44] zaxxoff opened #84 "error msg when running indium-run-node in emacs"
(node:22801) [DEP0062] DeprecationWarning: `node --inspect --debug-brk` is deprecated. Please use `node --inspect-brk` instead.

And I get `Exception in websocket callback! (void-function seq-map-indexed)` on the bottom status bar

[2017-08-10 08:10] NicolasPetton commented on #82
I can reproduce the issue.

However, the first problem is not a bug, it's a feature (and it follows the behavior of the Chrome devtools). Why is it a problem for you?

[2017-08-10 08:12] NicolasPetton commented on #84
Thanks for reporting the issue!

1. the deprecation warning is ok, though we should ret rid of by using `--inspect-brk`
2. which version of Emacs are you using?
3. how did you install Indium?

[2017-08-10 08:13] NicolasPetton commented on #84
@zaxxoff does `(require 'indium)` fix your problem?

[2017-08-10 08:15] DamienCassou commented on #82
Step `5` was not clear enough, let me rephrase it. If I add a comment line on step `4`, the breakpoint is  at the comment line on step `5`. This is not what I expect: if I put a breakpoint on a `if` statement, I want the breakpoint to stay there, even if I add lines above (especially comment lines).

[2017-08-10 12:21] crazyatnet commented on #78
@NicolasPetton In sever/server.js.

[2017-08-15 12:01] #82 closed

[2017-08-15 12:03] NicolasPetton commented on #82
@DamienCassou can you confirm that the fix works fine for you as well?

[2017-08-17 15:10] DamienCassou commented on #82
I'm not sure the bug is fixed. I did exactly the same again: the red dot is correctly placed, but the debugger stops one line after that.

[2017-08-17 16:47] NicolasPetton commented on #82
That would be a different issue.

Could you open a ticket showing how to reproduce the problem?

[2017-08-18 09:00] DamienCassou opened #85 "Debugger stops after the breakpoint line"
1. add a breakpoint somewhere
2. `C-a C-o` to insert a new line (the breakpoint have moved one line down to follow code)
3. type a comment there
2. `M-x indium-reload`
3. execution stops one line after the breakpoint line

Expected: execution stops where the breakpoint is.

[2017-08-18 12:28] NicolasPetton commented on #80
The issue is fixed in master.

[2017-08-18 12:28] #80 closed

[2017-08-18 14:42] #84 closed

[2017-08-18 14:42] #85 closed

[2017-08-18 18:38] zebralight opened #86 "local js file not picked up by REPL from time to time in require statement"
I noticed that when running node/repl, the top shows "connected to ...path.." but when I try to use require('fileInPath'), I get 'cannot find module' as a message.  This doesn't happen all the time as periodically, the require statement will pick up the file in the pwd.  Thanks.
[code]

[2017-08-18 18:52] NicolasPetton commented on #86
can you, from the minibuffer do `M-x pwd RET`, and check if that answers the directory that you expect?

[2017-08-18 19:52] zebralight commented on #86
yes, the command returns the expected pwd value.

[2017-08-18 21:26] NicolasPetton commented on #86
Thanks! Then I'll need a bit more info to be able to reproduce the issue.
Ideally, reproducible steps would be perfect, but you said it only happens from time to time?

[2017-08-18 21:46] NicolasPetton opened #87 "nodejs workflow improvements"
When a JS file is saved, the user currently has to:

- kill the node process
- make sure to go to the source directory
- start a new node process, passing the same arguments as the previous one

This is tedious, and could be improved with a `indium-restart-node` which would do that for him.

Another improvement would be to always kill the process when `indium-quit` is called. Currently the node pr

[2017-08-18 22:11] NicolasPetton opened #88 "Add a command to inspect the result of any expression"
it would be similar to C-c M-i, but the user would enter the expression to inspect.

[2017-08-18 22:21] #88 closed

[2017-08-18 23:40] TatriX opened #89 "Add hotkey to "Inspect expression" command"
It would be awesome if one could use `E` hotkey in the debugger mode to run a new inspect command.
Also adding `e` and `E` hotkeys to the `locals` and `stack` buffers can be a good thing too.

[2017-08-21 10:24] Malabarba opened #91 "100% CPU usage on Typescript + webkit + Angular2"
## What I did

1. `ng serve` (ng is the ng-cli helper, which uses webpack under the hood).
2. `google-chrome --user-data-dir=/tmp --remote-debugging-port=9222 https://localhost:4200`.
3. `M-x connect-to-chrome` in Emacs.

## What happened

The REPL worked fine at first. Both for evaluation and completion. But as soon as I tried to edit some file, live reloading kicked in and Emacs popped to a buff

[2017-08-21 19:39] NicolasPetton commented on #91
Thanks for the bug report.

The symptoms you describe remind me of a recent fix in Indium.  Can you tell me which version of Indium you're using?

[2017-08-21 19:40] NicolasPetton commented on #91
Could you paste the error?

[2017-08-22 13:24] DamienCassou opened #92 "Wrong type argument: indium-location, "!defaultFormatter""
I'm trying to add a conditional breakpoint `C-c b c` on a line, and I get this error instead:

[2017-08-22 17:02] jjrh commented on #77
Oh is this why i'm getting errors with map-elt when doing 'indium-connect-to-chrome' ?

`map-elt: Wrong number of arguments: (lambda (k l) (nthcdr 1 (assoc k l))), 3`

[2017-08-22 20:03] NicolasPetton commented on #77
No, that would be a different bug :)

Chrome is not using webkit (it forked it).

Could you open a separate bug report, explaining how to reproduce the issue? Thanks!

[2017-08-22 22:19] jjrh opened #93 "indium-connect-to-chrome throws error"
Fresh install of indium installed via melpa with no custom configuration.

Running indium-connect-to-chrome

`Contacting host: 127.0.0.1:9222`
`map-elt: Wrong number of arguments: (lambda (k l) (nthcdr 1 (assoc k l))), 3`

I believe indium-chrome--connect-to-tab is the function that breaks.

For fun I tried replacing map-elt with (cdr (assoc 'url tab)) and it was able to get the url value fine, bu

[2017-08-23 19:26] NicolasPetton commented on #93
Thanks for reporting the issue!

I suspect something's wrong with map.el, but I can't be sure.
Could you paste here the result of:

[code]

[2017-08-23 20:21] NicolasPetton commented on #92
confirmed, thanks for the bug report!

[2017-08-23 20:36] #92 closed

[2017-08-23 20:36] NicolasPetton commented on #89
Agreed!

[2017-08-23 20:37] NicolasPetton commented on #89
I'm unsure about the `locals` and `stack` buffers, so I'll leave this part out for now.

[2017-08-23 20:37] NicolasPetton commented on #87
Fixed in master :)

[2017-08-23 20:37] #87 closed

[2017-08-23 20:38] NicolasPetton commented on #72
I'm closing this issue for now. Feel free to reopen it or open a new one if you have more questions.

[2017-08-23 20:38] #72 closed

[2017-08-23 20:52] jjrh commented on #93
Nicolas Petton writes:

map-elt: Wrong number of arguments: (lambda (k l) (nthcdr 1 (assoc k l))), 3 [2 times]

[2017-08-25 08:47] DamienCassou opened #94 "DOM should be enabled first"
This message appeared in Emacs console right after connection.

[2017-08-25 08:52] DamienCassou commented on #93
@jjrh can you please type `M-x find-function RET map-elt RET C-h v default-directory RET` and tell us what is in the console? It should be something like '/usr/local/share/emacs/25.2/lisp/emacs-lisp'.

[2017-08-25 15:13] jjrh commented on #93
Damien Cassou writes:

default-directory is a variable defined in ‘C source code’.
Its value is "/usr/local/share/emacs/25.2.50/lisp/emacs-lisp/"
Local in buffer map.el.gz; global value is nil

[2017-08-27 12:26] NicolasPetton commented on #94
Thanks!

[2017-08-27 12:30] #94 closed

[2017-09-04 07:20] TatriX opened #97 "Duplicated repl buffer"
[code]
In this case indium will make a `*JS REPL*<2>` buffer which is unusable.

[2017-09-11 19:11] blaenk opened #98 "Reason for lack of autoloads?"
I'm curious why there seems to be a lack of autoloads? I'd prefer to load indium only when I run certain comments like `indium-run-node`. I could use use-package to define my own via `:commands` for example but given the lack of them in the package itself I was curious if there's a reason for that, maybe then it wouldn't be correct for me to add them on my end.

[2017-09-13 08:32] NicolasPetton commented on #98
Jorge Israel Peña <notifications@github.com> writes:

There's no reason, it's a long time overdue.

If you want to work on that, I'd gladly accept a pull request!

[2017-09-21 00:52] jojojames commented on #91
Quick tangent, is indium supposed to work with Typescript?

[2017-09-21 07:48] NicolasPetton commented on #91
In theory, yes, except for code evaluation with `C-x C-e`. In practice, sourcemap support is still young and doesn't work with Typescript yet.

[2017-09-23 20:24] mallt opened #100 "eldoc information"
Would it be possible for Indium to provide eldoc information for function calls? F.ex. by using a function similar to the [`argumentNames()` function in Prototype](https://github.com/sstephenson/prototype/blob/master/src/prototype/lang/function.js#L38)? Thanks!

[2017-09-25 13:39] NicolasPetton commented on #93
@jjrh do you still have the same issue?

You're problem seems to be related to `map.el` not working properly with your setup.
Could you try the following recipe:

`$ emacs -Q`

Then evaluating in a scratch buffer:

[code]

[2017-09-26 16:15] NicolasPetton commented on #100
That's out of the scope of Indium, but I'm using Ternjs which provides very good support for type inference, and the Emacs mode has eldoc support.

[2017-09-26 16:15] #100 closed

[2017-09-27 16:04] shawwn opened #101 "Unexpected interaction between REPL and catching all exceptions"
After starting a new REPL and turning on catch all exceptions, I ran `throw new Error("foo")` in the REPL and got this:

![indium-1](https://user-images.githubusercontent.com/59632/30924036-2e246bb0-a373-11e7-82c4-acb87a11959f.png)

From the standpoint of a complete newbie (me), there are three unexpected things here:

- The stack is empty. I was hoping to see a trace showing some of the internals

[2017-09-27 16:24] shawwn opened #102 "Indium requires emacs 25"
Indium uses the `map` library, which is only available on Emacs 25+. Indium seems to only use the following functions:

[code]

Are there any other reasons to require Emacs 25?

From a compatibility standpoint, it might be better to copy these functions into Indium (prefixing them with `indium-`).

On the other hand, I guess it's fine to tell users to upgrade their Emacs. But in practice people ar

[2017-09-27 16:38] shawwn commented on #102
Additional dependencies:

[code]

It looks like it would be nontrivial to add backwards compatibility, so I guess the best option would be to tell users to upgrade.

I wonder if there's a compatibility shim for Emacs 24?

I'm curious how to handle this situation in my own project. Should I just use Emacs 25 libraries, forcing users to upgrade?

Either way, I'll close this since it's not really an

[2017-09-27 16:38] #102 closed

[2017-09-27 21:35] shawwn opened #103 "List all sources"
Chrome devtools' Sources tab shows a list of all loaded javascript files. It would be nice for Indium to have a similar feature.

[2017-09-28 18:30] NicolasPetton commented on #101
Regarding the stack, there's nothing to be done, as Indium displays whatever stack the runtime gives us.

Regarding the debugger and REPL being frozen, pressing `c` in the debugger works for me (it proceeds the execution, throws the exception and logs it in the REPL). I can use the REPL normally after that.

I guess I'll need more info to reproduce your issue:

- Could you paste the recent logging

[2017-09-28 18:39] NicolasPetton commented on #102
Yes, Indium requires Emacs 25, it uses several of the new libraries introduced in Emacs 25.1, and I have no plan to support older Emacsen.

Emacs 26.1 is around the corner, however I want to keep compatibility with Emacs 25.x for quite some time.

[2017-10-02 11:04] NicolasPetton commented on #81
This has been fixes in master.

[2017-10-02 11:04] #81 closed

[2017-10-08 08:55] shawwn opened #107 "Breakpoints placed before connecting to Chrome don't work"
When source maps are in use:

If you open a file, e.g. `src/App.js`, place some breakpoints, then connect to a Chrome tab, the breakpoint location will fail because the sourcemap won't be downloaded.

(If you connect to a Chrome tab first, then place a breakpoint, the sourcemap will be downloaded and the breakpoint will work fine.)

[2017-10-08 09:20] shawwn opened #108 "Breakpoints fail in certain webpack configurations"
If a webpack config is set to generate bundle files using template `bundle.[hash].js`, then each time the source code of the webapp is modified, a new `bundle.[hash].js` file and `bundle.[hash].js.map` sourcemap will be generated.

If you place a breakpoint in any source file, then modify and save the file, webpack will rebuild the bundle. The old breakpoint will stop working, and the new sourcema

[2017-10-08 09:32] shawwn opened #109 "When evaluating a React event / proxy object, the inspector shows no properties"
I'm not sure if this is a problem with React events specifically, or proxy objects in general.

Using the following indium settings:

[code]

Say you create a React class called Button that binds an `onClick` callback.

If you place a breakpoint within the callback function, the first argument `evt` will be a synthetic React event object.

If you hit the breakpoint and press `l` to show locals, th

[2017-10-08 10:56] shawwn opened #110 "Code underneath symlinked directories fails to breakpoint"
When sourcemaps are being used, if a webpack configuration contains:

[code]

Then the sourcemap will embed absolute source file paths. However, those absolute paths will use the truename (realpath) of the file. This causes a mismatch between `buffer-file-name` and the sourcemap's source path, which causes `indium-script-generated-location-at-point` to fail.

[2017-10-08 12:59] shawwn commented on #108
I see you've already been working on this in the `breakpoint-updates` branch!

[2017-10-08 13:10] shawwn opened #112 "Sourcemap parsing performance"
When running indium on a codebase with a 6.7MB sourcemap, it takes about 5-10 seconds from the time a breakpoint is placed until the sourcemap has been downloaded + finished parsing. Since this happens any time the user changes the source code, this is somewhat detrimental to interactive development. But I think we can optimize it.

The culprit is mostly `sourcemap.el`: ~15% of time is spent in `j

[2017-10-09 09:03] NicolasPetton commented on #107
Indeed, this currently only works when not using sourcemaps.

[2017-10-09 09:04] NicolasPetton commented on #101
@shawwn any update on this one?

[2017-10-09 09:07] shawwn commented on #101
Yeah, it was my fault. I was using `evil-mode` (vim emulation). I had to press `i` to go into normal mode before pressing `c` or anything else.

[2017-10-09 09:07] #101 closed

[2017-10-09 09:47] NicolasPetton opened #113 "Sourcemap locations are sometimes off by one line"
This happens at least with react apps, when setting a breakpoint, the location in the Emacs buffer is sometimes off by one line.

[2017-10-09 18:46] NicolasPetton commented on #112
The JSON part will be resolved soon as Emacs will move to a faster JSON library using C bindings.
I'm not sure what to do with the `sourcemap.el` part, as I have PRs opened there for quite some time without any feedback from its maintainer.

[2017-10-09 18:48] NicolasPetton commented on #108
@shawwn have you tried it with the latest `master`? It might just work ™️

[2017-10-10 19:58] #113 closed

[2017-10-10 20:01] NicolasPetton commented on #91
@Malabarba could you try again with the latest revision of master? It might just work :tm: :)

[2017-10-10 20:02] NicolasPetton commented on #109
@shawwn have you tried the same thing in Chrome?

[2017-10-10 20:20] NicolasPetton commented on #109
I found the reason (see #115). The problem was that internal properties were never displayed in the inspector.

[2017-10-10 20:25] #109 closed

[2017-10-11 01:45] Malabarba commented on #91
It does! At least the REPL seems to work 100%, and the inspector is pretty awesome.

Anything that deals with source files is not so good, but I think that's to be expected. Thanks for this Nico!

[2017-10-11 01:45] #91 closed

[2017-10-11 06:55] NicolasPetton commented on #91
Glad the REPL works fine!

Dealing with source files should work with a bit of work.

@Malabarba Could you tell me how you set up your project? I've never used typescript or angular.

[2017-10-11 14:33] #107 closed

[2017-10-13 19:09] NicolasPetton commented on #89
@TatriX I went with `C-u e` in the debugger.

[2017-10-13 19:24] #89 closed

[2017-10-13 20:00] #97 closed

[2017-10-13 20:45] NicolasPetton commented on #77
As webkit's not using websockets anymore, getting Indium to work with it be much trickier. I'm closing this one for now.

[2017-10-13 20:45] #77 closed

[2017-10-13 20:46] NicolasPetton commented on #71
Travis builds are fine now, I'm closing this issue. If it's still a problem for you, feel free to reopen it.

[2017-10-13 20:46] #71 closed

[2017-10-23 09:46] NicolasPetton commented on #108
@shawwn up?

[2017-10-24 08:13] #103 closed

[2017-10-25 11:29] #98 closed

[2017-10-28 20:23] jojojames commented on #91
@NicolasPetton I'm curious what you think would need to be done for Typescript debugging to work.

Would a sample Typescript project help? (Maybe in React or React Native)

[2017-10-29 11:11] NicolasPetton commented on #91
Yes, it would definitely help.

[2017-11-05 21:33] yzmism commented on #91
@NicolasPetton I created a React and React Native Typescript project. Hope this helps.

https://github.com/yzmism/ReactTypeScript
https://github.com/yzmism/ReactNativeTypeScript

[2017-11-06 08:59] NicolasPetton commented on #91
"Hiep D. Nguyen" <notifications@github.com> writes:

Thank you! I'll test them ASAP.

[2017-11-07 18:14] sandric opened #125 "Code completion in JS buffer?"
I added `(add-hook 'js-mode-hook #'indium-interaction-mode)` to indium interaction mode to work in existing files js buffers, but it looks like company completion works only in either repl or scratch. Is it on purpose? Is there a way to enable the same completion in existing js buffers?

[2017-11-07 18:14] NicolasPetton commented on #125
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-11-07 18:14] NicolasPetton commented on #125
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @NicolasPetton.

[2017-11-09 19:54] NicolasPetton commented on #125
I could enable the same completion in all JavaScript buffers, but you wouldn't get context-aware completion: the completion in indium is the same as the completion in Chrome's console, it's asking the runtime to complete as you type, and it won't perform any type inference on your project or anything like that.

If what you want is proper completion with type inference, I suggest using ternjs, it'

[2017-11-11 05:26] yzmism commented on #91
@NicolasPetton No problem, let me know how it goes.

[2017-11-12 15:25] diasbruno commented on #86
Got it.

[code]

[code]

# Steps to reproduce:
- Start `emacs` at $HOME and start a new REPL from scratch buffer.

# OBS:
- Reconnect to node from a project file buffer.
- The connected information says it's connected to `Connected to v8 @ file://~/`,
but `process.env.PWD` is the actual path of the file.

[2017-11-14 09:31] kandros commented on #125
I suggest using [tide](https://github.com/ananthakumaran/tide) instead, it uses the same language server used by visual studio code and allow for context-aware, file/module-aware code completion and refactoring

[2017-11-14 09:58] sandric commented on #125
Ok thanks, I tried to use tide in past, but with little luck, tried again recently and looks like it works pretty fine, although I struggle sometimes to find recent list of libs and modules list. I think issue should be closed then, @NicolasPetton should I?

[2017-11-14 10:24] NicolasPetton commented on #125
Yes, I'm closing the issue.

[2017-11-14 10:24] #125 closed

[2017-11-17 01:07] felipeochoa opened #127 "Handle data: url sourcemaps"
I'm using indium with jest, which transforms files on the fly and sets sourcemap urls as base64 encoded data. Here's an example: `data:application/json;charset=utf-8;base64,eyJ2...`

As you can imagine, these are extremely long "urls", which I think indium tries to resolve to a file. Emacs complains somewhere with the following error:

`websocket-default-error-handler` displays a warning for this

[2017-11-17 17:32] NicolasPetton commented on #127
Thanks for reporting this issue!

If you want to get a debugger, you can set `websocket-callback-debug-on-error` to `t`.
If you need more help, just tell me!

[2017-11-17 21:03] felipeochoa commented on #127
Thanks! That was all the advice I needed. The unit-testing was a bit daunting, but hopefully it's an OK test :)

[2017-11-17 23:30] kandros opened #129 "open current file in chrome devtool resouce panel"
That would be pretty awesome

It this technically possible?

[2017-11-17 23:34] kandros opened #130 "Evil compatibility"
As of now debugging commands (continue, step over, list variables ec..)  get consumed by evil mode normal state.

I'm not quite sure what is the best approach to handle these cases

[2017-11-18 12:33] kandros commented on #130
Working solution

[code]

[2017-11-18 13:12] kandros opened #131 "No URL associated with the current buffer. Setup an Indium workspace first"
For a webpack (create-react-app) project the stepping debugger works just fine if the breakpoint is set from chrome or by the debugger keyword, if i set it from within emacs using `indium-add-breakpoint` it throws

No URL associated with the current buffer.  Setup an Indium workspace first

 I tried to map the workspace to local folder in chrome and put a `.indium` file inside public folder but ha

[2017-11-18 13:14] kandros opened #132 "emacs struck on Downloading sourcemap file…done"
In a quite big project (create-react-app based) when i add a breakpoint using `indium-add-breackpoint`

i see a lot of messages `Downloading sourcemap file…done` but it never finished (waited for minutes), and emacs becomes unresponsive and I have to kill emacs process.

[2017-11-20 20:10] asimpson commented on #130
I typically just revert to emacs binds in these situations like so:
`(add-to-list 'evil-emacs-state-modes 'indium-repl-mode)`

[2017-11-21 09:27] #127 closed

[2017-11-21 13:16] NicolasPetton commented on #130
@asimpson thanks for providing a solution.

[2017-11-21 13:16] #130 closed

[2017-11-21 13:16] NicolasPetton commented on #129
It would be nice, but unfortunately I don't think that possible, so I'm closing this issue.

[2017-11-21 13:16] #129 closed

[2017-11-21 13:18] NicolasPetton commented on #131
@kandros can you provide a recipe to reproduce the problem starting from a brand new project made with `create-react-app`? It would be much easier for me to help and find the problem.

[2017-11-21 16:10] chris-kahn opened #133 "Debugging server-side node project with sourcemap"
I'm a bit lost on getting this working in my project. I'm using spacemacs.

I have a project with a `webpack.config.server.js` file that runs a node server. Webpack bundles the server into a single javascript file with an inline source map, that maps to source files in the workspace directory. First of all it seems like Indium does not have a way to specify if the source maps have an offset (like

[2017-11-22 01:26] sandric opened #134 "Non interactive way to connect to chrome tab?"
I'm little lost in source code with different callbacks, maybe somebody could walk me through my question. I wish to write an elisp function that will automate all `indium-connect-to-chrome` routine. It will accept ip address of running chrome server, port and full url of tab I want connect to. Is there a way to do that and what function should I look at?

[2017-11-27 10:26] NicolasPetton commented on #86
thanks for the detailed steps.

[2017-11-29 19:31] fourcolors opened #135 "Theme in the docs :)"
Hi, sorry for the spam but do you have a link to the theme you're using in your docs? I'd love to get that rolling :0

[2017-12-01 10:53] NicolasPetton commented on #135
It's zerodark: https://github.com/nicolaspetton/zerodark-theme :)

[2017-12-01 10:53] #135 closed

[2017-12-01 10:54] NicolasPetton commented on #133
Sourcemap support with webpack is new, and there might still be issues with it. Thanks for the link to a repo, I'll try to reproduce the problem and fix it!

[2017-12-01 13:18] NicolasPetton commented on #134
There's no way currently to do that, unfortunately.

[2017-12-01 13:54] NicolasPetton commented on #133
Indeed, this kind of setup isn't yet supported (but it is planned).

However, there's a way to tell Webpack that it needs to use absolute paths:

[code]

This example is taken from your repository, I simply added `devtoolModuleFilenameTemplate: '[absolute-resource-path]'` to it.

Indium is then able to debug it properly.

[2017-12-01 14:32] NicolasPetton commented on #133
I mentioned this configuration option is the documentation: https://indium.readthedocs.io/en/latest/debugger.html#sourcemaps-and-webpack

[2017-12-01 14:57] chris-kahn commented on #133
Great, although even with the sourcemaps using absolute paths I still can't add breakpoints. This is what it looks like when I try:

<img width="1280" alt="screenshot at dec 01 14-50-55" src="https://user-images.githubusercontent.com/16520875/33488211-e3f399fe-d6a7-11e7-8c14-b9e9d2afa0c2.png">

[2017-12-01 15:37] NicolasPetton commented on #133
Wow, that's weird, I have never seen this.

In the *messages* buffer, can you find the beginning of this output? Maybe there's something interesting there.

Also, could you tell me which version of Indium you are using? A recent commit in Indium added support for data uri sourcemaps https://github.com/NicolasPetton/Indium/pull/128

[2017-12-01 15:45] NicolasPetton commented on #133
I checked from your screenshot, and it looks like it's the sourcemap that you see. After updating Indium, the debugger should work ™️

[2017-12-01 15:47] chris-kahn commented on #133
Ohhh is this due to specifying inline source maps? It seems like that base64 payload is probably the what webpack is returning for the sourcemap path.

<img width="1000" alt="screenshot at dec 01 15-42-12" src="https://user-images.githubusercontent.com/16520875/33490203-44fb1c3a-d6ae-11e7-9775-fd56b828bede.png">

[2017-12-01 15:51] NicolasPetton commented on #133
Exactly! The latest version of Indium should handle this perfectly well.

[2017-12-01 15:53] NicolasPetton commented on #132
Hi @kandros!

Thanks for reporting this issue. Could you give me a link to a repository help me reproduce it?

[2017-12-01 19:31] NicolasPetton commented on #133
@chris-kahn can you confirm that the latest version of Indium works for you as well?

[2017-12-01 19:45] chris-kahn commented on #133
I've just tested it now and yep, the latest version is working! I hadn't updated in a few weeks and it seems you were way ahead of me. Thanks, now I can use it and create some more issues for you!

[2017-12-01 21:44] NicolasPetton commented on #133
Awesome! Open as many tickets as you need :-)

[2017-12-01 21:44] #133 closed

[2017-12-01 22:30] NicolasPetton commented on #108
@shawwn another up :)

[2017-12-01 22:31] NicolasPetton commented on #93
@jjrh I cannot reproduce this issue, so I'm closing the ticket. If it's still a problem for you, feel free to reopen it.

[2017-12-01 22:31] #93 closed

[2017-12-01 22:32] NicolasPetton commented on #38
Does `indium-deactivate-breakpoints` fits your needs?

[2017-12-01 22:33] NicolasPetton commented on #70
As I don't think it's easy doable to prevent infinite loops, I'm closing this issue.

[2017-12-01 22:33] #70 closed

[2017-12-01 22:34] NicolasPetton commented on #78
@crazyatnet @huylenq could you give it another try with the latest build from MELPA? A lot has changed in Indium WRT breakpoint handling, and the issue might have been fixed.

[2017-12-01 22:35] NicolasPetton commented on #131
@kandros up?

[2017-12-01 23:02] chris-kahn commented on #23
Is it not possible to expand object references at the moment either? This is pretty valuable I think, usually when I'm looking at the locals inspector in VS Code I want to dive deeper into an object, and it's a bit annoying to do this via the repl buffer.

[2017-12-02 08:25] NicolasPetton commented on #23
It definitely is possible from the inspector buffer and the debugger locals, I wonder what you are referring to.

[2017-12-02 11:47] DamienCassou commented on #38
yes it does. Thanks.

[2017-12-02 11:47] #38 closed

[2017-12-02 15:06] chris-kahn commented on #23
I see it now, usually I'm using emacs in a terminal and it's not very obvious that they are clickable (no underlining). The keyboard shortcut `RET` seems to work in my windowed emacs but not terminal.

[2017-12-03 08:44] kandros commented on #132
Sorry, I have very little time at the moment, will reopen the issue with more details for repro

[2017-12-03 08:44] #132 closed

[2017-12-03 08:45] kandros commented on #131
Sorry, I have very little time at the moment, will reopen the issue with more details for repro

[2017-12-03 08:45] #131 closed

[2017-12-06 13:27] jsjolen commented on #78
Hi!

I've successfully replicated this with version 20171204.128 from MELPA.
This is in an Electron project (after connecting to it with i-c-t-c).

I haven't made a small test for you to replicate the issue with, sorry.

I do know that breakpoints worked for me a couple of days ago.

[2017-12-06 13:42] NicolasPetton commented on #78
Johan Sjölén <notifications@github.com> writes:

A link to a repository and a short description to reproduce the issue
would be enough, do you think you could provide that?

[2017-12-06 14:48] jsjolen commented on #78
Sorry @NicolasPetton, it's a proprietary repo :-(

[2017-12-06 18:38] bobrowadam opened #137 "Having issue with the debugger"
I'm having issues getting the debugger to work, not sure if I'm doing something wrong.
Im using `indium-run-node` to start my node app and it seems to work fine yet the app doesn't stop on break points unless I'm using the `--debug-brk` option. This also works only until a certain point in which the debugger stops, again, before it reaches my break point.
Any suggestions?

[2017-12-06 20:05] NicolasPetton commented on #137
Breakpoints will be added to the JS runtime after the evaluation of your `node` program. This is because node has to be running for the breakpoints to be added.

It means that if you run `node` with a file that exits after the evaluation (unlike starting an HTTP server for example), breakpoints might be added too late.

Let me give you an example, let's say you have a `foo.js` file with

[code]

I

[2017-12-06 23:14] NicolasPetton commented on #137
The latest commit in master sets `indium-nodejs-inspect-brk` to `t` by default, which is probably less confusing.

[2017-12-07 09:32] NicolasPetton commented on #78
Johan Sjölén <notifications@github.com> writes:

Any other way I could reproduce it?

[2017-12-07 11:10] bobrowadam commented on #137
Ok I understand, Thanks for the quick reply :)

[2017-12-07 12:20] NicolasPetton commented on #137
Cool, closing the issue then!

[2017-12-07 12:20] #137 closed

[2017-12-13 20:07] LaloHao opened #138 "Is it possible to connect to a react-native packager process?"

[2017-12-13 21:35] NicolasPetton commented on #138
I have no idea, as I never tried to do that myself. If you can give me pointers, I will investigate though.

[2018-01-10 12:52] NicolasPetton commented on #112
@shawwn Indium is now using its own sourcemap library. Is it any faster than before?

[2018-01-10 12:52] NicolasPetton commented on #108
It's working nicely for me, so I'm closing this issue. If it's still a problem for you, feel free to reopen it.

[2018-01-10 12:52] #108 closed

[2018-01-10 12:54] NicolasPetton commented on #78
I still cannot reproduce the issue, so I'm closing it for now. If it's still a problem for you, fee free to reopen it (a recipe would be great).

[2018-01-10 12:54] #78 closed

[2018-01-10 12:55] NicolasPetton commented on #28
Mozilla is apparently thinking about adding support for the CDP, in which case we wouldn't have to implement a specific backend for it.

[2018-01-10 12:55] #23 closed

[2018-01-10 12:55] #50 closed

[2018-01-10 13:02] DamienCassou commented on #23
Why did you close this one? Is it fixed?

[2018-01-10 13:14] NicolasPetton commented on #23
It was marked as postponed for a long time, and as I said:

So there's nothing I can do about it that I know of.

[2018-01-10 13:54] notetiene commented on #28
@NicolasPetton That would be great!  Sadly, I'm not able to see any news concerning CDP in Firefox.  Is it an official project?

[2018-01-10 14:30] NicolasPetton commented on #28
Etienne <notifications@github.com> writes:

I can't find the ticket in Bugzilla anymore, but there is one. It's in
their backlog IIRC, but it's something they're considering.

[2018-01-11 00:32] dakra commented on #28
That would be great. I found a few issues on their bugtracker but non sound like it's coming anytime soon :(
https://bugzilla.mozilla.org/show_bug.cgi?id=1316741
Most recent one seems to be https://bugzilla.mozilla.org/show_bug.cgi?id=1391465

[2018-01-11 02:46] jojojames opened #139 "Request: Using an overlay when debugging"
Hi, was wondering if we could get an overlay similar to cider when debugging.

[code]

The debugger message gets cleared pretty often with eldoc in play.

I think cider-debug https://github.com/clojure-emacs/cider/blob/master/cider-debug.el provides an option to switch between the two.

Thanks!

[2018-01-22 19:35] ezemtsov opened #141 "Can't get auto completion working"
Hi.
Can't really get how auto-complete works.

I've created hello world node file with express dependency
After these lines company-mode doesn't pick up express methods in Javascript-IDE mode:

Also tried simple console. and pushing TAB. Just some rubbish in company suggestions.

Is it like that by design? It is possible to get proper auto completion not only in REPL?
If yes, what can be wrong? Is

[2018-01-23 08:55] #141 closed

[2018-01-25 12:29] NicolasPetton commented on #139
That would indeed be neat.
Do you want to give this feature a shot?

[2018-01-26 06:59] tamoore opened #142 "Question: Babel support"
I've yet to actually try Indium but it looks great, so thank you for the project. 👏

I noticed Webpack support but I couldn't find any documentation about whether Indium supports projects that just use babel?

Normally, as a repl, I would use `babel-node` (Babel CLI).

[2018-01-26 10:38] NicolasPetton commented on #142
Todd Moore <notifications@github.com> writes:

There should be nothing special for babel, as long as the sourcemap
files work as expected.

That might be another thing, could you give it a try? I'm not using
babel-node myself.

[2018-01-27 20:15] jojojames commented on #139
I'll give it a shot once I find some free time. :)

[2018-02-14 09:33] ivo- opened #143 "Show confirmation or error message in REPL buffer after eval"
Currently only `indium-eval-last-node` and `indium-eval-defn` show error or result from the evaluation. It will be great if all the evaluation commands like `indium-eval-buffer` or `indium-eval-region` show some confirmation/error message after evaluation. Also showing the code that is evaluated and context in the REPL buffer will be great. I am testing with node.js connection.

Great work, thank

[2018-02-20 20:50] NicolasPetton commented on #143
Hi!

Isn't the output in the echo area enough? If you need to inspect the result, you can always do `C-c M-i`.
I'm afraid that this would pollute the REPL buffer with a lot of output (I'm a heavy user of `indium-eval-*`.

[2018-02-20 22:12] NicolasPetton commented on #142
@tamoore do you know more about this issue? I'd like to know if everything works fine for you.

[2018-02-20 22:14] NicolasPetton commented on #139
The feature seems pretty easy to implement (understand steal from CIDER :stuck_out_tongue_winking_eye:), but I'm not sure where to place it.

I see two options:

- just above the line of the current stack frame
- just above the current function

I guess the first option is the best one, but I'm interested in others opinions. (/cc @DamienCassou who might be interested in this).

[2018-02-20 22:16] NicolasPetton commented on #138
@LaloHao do you have any pointers to get me started? I'd like to give it a try, and see what could be missing in Indium to support react-native.

[2018-02-20 22:17] NicolasPetton commented on #112
@shawwn I'm closing this issue as sourcemaps seem to be fast enough for me. If it's still an issue for you, please reopen this ticket.

[2018-02-20 23:14] diasbruno commented on #134
@NicolasPetton Can you give some direction on how we could implement such a functionality? Perhaps parsing a full url...

[2018-02-20 23:47] ivo- commented on #143
Hi! For `indium-eval-last-node` and ` indium-eval-defn` it is enough, but `indium-eval-buffer` and `indium-eval-region` don't show any output in echo area or the REPL and you never know if the code is actually evaluated successfully or not. My personal taste is to  show evaluated code in REPL, as it is nice to have a history of everything evaluated. This seems to be the approach I am used to from

[2018-02-21 03:16] jojojames commented on #139
+1 on current line.

[2018-02-21 06:13] TatriX commented on #112
Note: looks like a good use case for something like https://github.com/ubolonton/emacs-module-rs.

[2018-02-21 07:34] DamienCassou commented on #139
CIDER seems to place it above current function: https://cider.readthedocs.io/en/latest/debugging/. This is nice because the function text is not changed each time the active line of code changes. Another position could be the window's first line so the overlay is always found at the same position.

Nevertheless, I don't care that much because I now remember the shortcuts and don't need to see them

[2018-02-21 08:03] NicolasPetton commented on #112
TatriX <notifications@github.com> writes:

I'm thinking about using the new JSON bindings from Emacs master when
available, and fallback to json.el.

[2018-02-21 08:07] NicolasPetton commented on #139
Damien Cassou <notifications@github.com> writes:

The difference between Clojure and JavaScript is that in JavaScript it
can be hard to tell what is "the current function", so I thought that
above the current line was a better solution.

However is can be annoying as you suggest. I'll give it a try.

[2018-02-21 08:09] NicolasPetton commented on #139
What about using a header instead?

[2018-02-21 16:39] UnderSampled opened #144 "Breakpoints not breaking"
At the moment, none of my breakpoints seem to do anything, even though I can confirm I am connected to the node process (files show up in indium-list-scripts, the REPL responds, and it breaks on the first line even though I don't have indium-nodejs-inspect-break set). Any breakpoint I add -- while connected, before connecting, or trying again after reconnecting -- does not stop execution.

I usual

[2018-02-21 22:12] NicolasPetton commented on #144
I can reproduce the bug on Windows only.

[2018-02-21 22:28] #144 closed

[2018-02-21 22:28] NicolasPetton commented on #144
The latest revision on master should fix the issue. Please tell me if it's still a problem for you.

[2018-02-22 13:59] UnderSampled commented on #144
Works! Thank you!

[2018-03-06 09:54] DamienCassou opened #148 "Reuse existing window when debugger stops"
1. get 2 windows with JS code in one and chromium in the other
2. add a breakpoint in the visible JS code
3. refresh chromium page

I expect that the JS window gets focus and that chromium is still visible. However, very often, I get 2 windows both showing the same JS buffer. Chromium is not visible anymore.

[2018-03-23 06:07] siassaj commented on #135
+1

[2018-03-24 12:43] timur-han commented on #78
I also experience this issue by the way on my Windows machine...

[2018-03-26 08:44] NicolasPetton commented on #78
@timur-han can you give me steps to reproduce it?

[2018-03-28 09:34] NicolasPetton commented on #142
@baerrach I don't understand how this is related to Indium, can you elaborate a bit more?

[2018-03-29 04:10] baerrach commented on #142
It's in response to @tamoore's original question, can you use the babel-node as a REPL.

The answer is yes - sortof.

Once you have babel-node configured correctly (I didn't when I posted my previous comment) you can get Indium to use babel-node. However babel-node generates temporary files which it deletes and so Emacs opens an empty buffer to a file that does not exist. You can still invoke the

[2018-03-30 08:44] jsjolen commented on #78
I used to have this issue but it disappeared spontaneously (as far as I can tell). Sorry @NicolasPetton :-/

[2018-04-09 08:05] jsjolen commented on #78
Alright so the issue is specifically in source files which are not part of the main file as set by an Electron process.

[2018-04-09 13:39] NicolasPetton commented on #78
ok, thanks.

The best would be to give me simple steps to reproduce the issue, could you do that?

[2018-04-09 18:00] jsjolen commented on #78
I'll give it a go to try and reproduce the issue with a small project. I'll msg again if I succeeded.

[2018-04-11 06:33] baerrach opened #150 "Passing environment variables to node command fails"
If you want to pass environment variables to the node script you would normally do

`MY_ENV="SOME VALUE" node <command>`

However `indium-nodejs--add-flags` in `indium-node.el` assumes the first argument of the command is the program to run, returning a value like

`MY_ENV="SOME VALUE" --inspect node <command>`

instead of

`MY_ENV="SOME VALUE" node --inspect <command>`

I am working around this b

[2018-04-12 00:20] baerrach opened #151 "allow `await` in REPL"
I doesn't appear that Node will support this natively, see https://github.com/nodejs/node/issues/13209

However you can hack this inside indium by wrapping await code in an async function.

I've had to throw away const/let definitions as the variable needed to be in global scope to be assigned a value.

This is super useful for using `indium-eval-last-node` ( <kbd>CTRL</kbd>+<kbd>x</kbd> <kbd>CTRL

[2018-04-13 20:31] jsjolen commented on #78
You can clone this repo for the files I used: https://github.com/jsjolen/indiumtest

What you need is:

1. A main file which has a script-ref in the main html file loaded by Electron (renderer process)

2. Another file (let's call it foo) which the main file requires.

Indium can't set breakpoints in foo because Electron gives no locations back but all of the input seems reasonable. It can however

[2018-04-18 11:57] NicolasPetton commented on #151
Thanks, this is a nice hack, but not something I'd be willing to include in Indium though.

[2018-04-18 11:57] #151 closed

[2018-05-21 05:20] gburch opened #153 "SourceMap with rewritten url"
I may have missed this in the docs, so I apologize if I did. I have an app that is served through a rewritten url, the most basic part of this is it adds a directory _m/_ in front of all my source files. I attempted to work around this my simply creating a symlinked dir following this scheme but it did not work. Example dir structure and url structure:

Url:
mysite.com/m/scripts/app.js

On Disk:
~

[2018-05-21 08:59] NicolasPetton commented on #153
Thanks for reporting the issue!

IIUC you are *not* using sourcemaps, right?

[2018-05-21 15:42] gburch commented on #153
I am using gulp sourcemaps.

[2018-05-21 20:27] NicolasPetton commented on #153
Then you'll have to wait a bit for Indium to support such cases. Sourcemap support is still quite basic, and I went around rewrite rules with Webpack by emitting absolute paths in sourcemaps.

It's in the works though, so hopefully you won't have to wait long. I'll keep this issue open in the meantime.

[2018-05-21 20:47] gburch commented on #153
Did you have an idea for an approach? It may be something I can submit a PR for if you have a basic approach in mind.

[2018-05-21 20:48] NicolasPetton commented on #150
Should be fixed in master!

[2018-05-21 20:48] #150 closed

[2018-05-31 08:32] Moki76 opened #154 ""Cannot get breakpoint location" error"
Hi,

I get the "Cannot get breakpoint location" error when trying to connect to set a breakpoint in a JS script of a fresh React project through the Indium chromium backend.

Here the value of the Chromium response in the `indium-backend-register-breakpoint)` function :

I have modified webpack configuration according to these 2 lines as said in the documentation :
`devtoolModuleFilenameTemplate:

[2018-05-31 12:13] NicolasPetton commented on #154
Thanks for reporting this issue!

Sourcemap support is still in its infancy, this will definitely help me improve it (especially on Windows).

Could you tell me how you created your React project, and if you have made any changes to it after its creation?

Thanks

[2018-05-31 12:35] Moki76 commented on #154
Thank you for your prompt reply.

I'm learning Web developpement and I have followed [that tutorial ](https://openclassrooms.com/courses/realisez-une-application-web-avec-react-js) which simply makes use of the _create-react-app_ package.

Here is the path of the default Webpack configuration used by React that I tried to modify (but I get the same error with or without any change) : _node_modules

[2018-05-31 16:03] NicolasPetton commented on #154
Thanks, that's helpful! I'll try to debug it and will get back to you!

[2018-06-01 09:46] Moki76 commented on #154
Thanks for your feedback. Do you plan to fix it soon ?

[2018-06-01 12:15] NicolasPetton commented on #154
Moki76 <notifications@github.com> writes:

Yes, I'm working on sourcemap improvements, and I expect to have a fix
in master within a couple of weeks.

[2018-06-04 07:35] Moki76 commented on #154
Ok good news !

[2018-06-08 14:17] chris-kahn commented on #153
It would be nice if we could configure everything via a config file similar to how VS Code is doing it:

[code]

[2018-06-08 14:39] chris-kahn opened #155 "How to show breakpoint markers in terminal mode?"
In GUI Emacs they appear in the fringe but this is missing in terminal mode. Is there a way to get them to show up in a gutter for terminal mode similar to modules like `git-gutter+` etc. For example in my screenshot I have a breakpoint set on line 71:

<img width="202" alt="screenshot at jun 08 15-27-21" src="https://user-images.githubusercontent.com/16520875/41163495-b3f56520-6b30-11e8-83f5-554a

[2018-06-08 14:43] chris-kahn opened #156 "Downloading remote sourcemap files is really slow"
For example my project includes a few scripts hosted in Amazon S3, and when connecting to Chrome, Emacs will completely freeze while downloading these sourcemap files for a good 1-2 minutes. Any idea why? VS Code doesn't seem to have any problems with this and starts debugging almost instantly.

[2018-06-11 08:28] NicolasPetton commented on #153
Christopher <notifications@github.com> writes:

That's exactly what I'm working on.  I'll push a branch soonish :)

[2018-06-11 08:35] NicolasPetton commented on #155
Christopher <notifications@github.com> writes:

That's definitely possible, but not done at the moment.

If you want to work on it, I'd love to review a PR ;-)

[2018-06-11 08:37] NicolasPetton commented on #156
Christopher <notifications@github.com> writes:

That's a known issue, but I'm delaying it until we have a configuration
file similar to VSCode, it's currently my top priority.

[2018-07-06 12:49] NicolasPetton commented on #139
Now that I think about it, what about using a header instead?

[2018-07-25 08:46] NicolasPetton commented on #154
The settings and sourcemap refactorings have landed in master.

Could you read the docs https://indium.readthedocs.io/en/latest/setup.html and give it a try?

[2018-07-25 08:47] NicolasPetton commented on #153
The changes have landed in master https://indium.readthedocs.io/en/latest/setup.html :)

[2018-07-25 08:47] #153 closed

[2018-07-25 08:47] #142 closed

[2018-07-25 08:49] #112 closed

[2018-07-27 14:50] NicolasPetton commented on #148
That's because you're using EXWM, so the current buffer in Emacs is Chromium when Indium's debugger is hit.

I don't think there's anything wrong with the current behavior, so I'm closing this issue.

[2018-07-27 14:50] #148 closed

[2018-07-30 10:17] Moki76 commented on #154
Thanks, I'am going to test it as soon as possible.

[2018-08-01 18:01] MartyNeal opened #159 "No Indium Connection with chrome backend"
### Description ###
Looks like `indium-current-connection` never gets set after connecting to a chrome tab, and thus, attempts to execute commands fail with the message `No Indium Connection`.  This is/was working before updating to this version.

### Reproduction Steps: ###
1. Open a chrome instance with remote debugging port
2. With a minimal indium.json config in the cwd `{ "configurations": [

[2018-08-01 18:10] MartyNeal commented on #159
Just realized that a new version: 20180731.808 is available, but still also seems to have the above problem

[2018-08-08 02:39] karta0807913 commented on #154
this is my .indium.json file
[code]

and run

in command line
[code]

in emacs
[code]

have another error
error in process fitter: Invalid status code from server

my system is windows 10

by the way
I can't connect to chrome when I run
`M-x indium-launch`

[2018-08-14 19:07] NicolasPetton commented on #159
Hi!

The new version on master (which has a lot of changes, see here https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html) should fix the issue.

[2018-08-14 19:07] #159 closed

[2018-08-14 19:08] NicolasPetton commented on #156
Hi!

The new version on master (which has a lot of changes, see here https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html) should fix the issue.

[2018-08-14 19:08] #156 closed

[2018-08-14 19:08] NicolasPetton commented on #154
Hi!

The new version on master (which has a lot of changes, see here https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html) should fix the issue.

[2018-08-14 19:08] NicolasPetton commented on #110
Hi!

The new version on master (which has a lot of changes, see here https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html) should fix the issue.

[2018-08-14 19:08] #110 closed

[2018-08-14 19:09] NicolasPetton commented on #86
Hi!

The new version on master (which has a lot of changes, see here https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html) should fix the issue.

[2018-08-14 19:09] #86 closed

[2018-08-14 21:04] NicolasPetton opened #161 "Breakpoint locations not resolved in Windows"
With and without sourcemaps, breakpoint locations are never resolved in Windows.

[2018-08-15 08:02] chris-kahn commented on #156
That's great! Thanks! I will try it out.

[2018-08-15 08:16] olymk2 opened #162 "Support for chromium-browser"
Currently it looks for chrome and chromium but on all my systems its actually called chromium-browser so it fails to launch because it cant find the binary.

error in process filter: user-error: Cannot find chrome/chromium binary (chromium) in PATH
error in process filter: Cannot find chrome/chromium binary (chromium) in PATH

I don't have google chrome installed currently but i believe that has a

[2018-08-15 11:33] NicolasPetton commented on #162
You can customize `indium-chrome-executable` and set it to `chromium-browser`.

[2018-08-15 11:33] #162 closed

[2018-08-15 19:29] terlar opened #163 "A bit unfriendly message when the `indium` client executable can't be found"
I had some issues with my path so it couldn't find the indium command but it was quite confusing until I realized that was what was happening. When I am using the default it runs `(executable-find "indium")` which will return `nil` when not found.

This will result in a message such as `locate-file: Wrong type argument: stringp, nil` when running the command `indium-launch`.

I am not sure how you

[2018-08-15 20:39] #163 closed

[2018-08-16 09:40] NicolasPetton commented on #161
Fixed in bd00b3c.

[2018-08-16 09:40] #161 closed

[2018-08-16 11:59] xuchunyang opened #164 "C-u M-x indium-eval-last-node - error in process filter: Wrong type argument: listp, 7"
Use `C-u M-x indium-eval-last-node ` to eval the following

    3 + 4;

Emacs reports

    error in process filter: Wrong type argument: listp, 7

in the echo area, and here is the backtrace

[code]

The following patch fixes the issue.

[code]

[2018-08-16 15:53] chris-kahn opened #165 "error in process filter: Indium server process error: env: node: No such file or directory"
Any idea what can be causing this?

Node and Indium are both available on my PATH...

[2018-08-16 16:28] NicolasPetton commented on #165
What is your operating system?
What does your .indium.json file looks like?

[2018-08-16 16:33] #164 closed

[2018-08-16 16:33] NicolasPetton commented on #164
I chose a slightly different fix, see 8a9a2bb.

[2018-08-16 17:25] chris-kahn commented on #165
The problem was due to my emacs paths... by default in macOS emacs does not properly load user profiles to get environment variables. I've solved it by using this plugin in emacs:

[code]

And then in my user-config:

[code]

And now it picks up my `.zshenv` file.

[2018-08-16 17:25] #165 closed

[2018-08-16 17:26] chris-kahn commented on #156
Everything works very fast now! 👍

[2018-08-17 07:53] NicolasPetton commented on #156
Awesome, I'm glad it made a difference for you as well.

[2018-08-17 07:54] NicolasPetton commented on #165
I think it would be worth mentioning in the troubleshooting section of the manual https://indium.readthedocs.io/en/latest/troubleshooting.html

[2018-08-20 05:00] aaronjensen opened #166 "Sometimes I can't quit the debugger"
First of all, wow. What an incredible tool. Thank you!

Within a React component's render method, when I place a breakpoint, I can successfully break at that point.

Once I'm there, however, the debugger doesn't appear to work as I'd expect. Continue appears to continue, but because another render happens it breaks immediately again. I continue to continue until no more renders occur. The browser

[2018-08-20 12:50] NicolasPetton commented on #166
Aaron Jensen <notifications@github.com> writes:

Thanks!

Does disabling breakpoints help?  It's not a proper solution, but it
can help me understand the issue.

Ok, that's already a starting point.

No, nothing that I can think of. If you could give me a recipe to
reproduce the problem, I'll certainly try to understand the issue and
fix it.

Cheers,
Nico

[2018-08-20 12:53] aaronjensen commented on #166
It doesn't seem to, it's stuck in the debugging mode (the caret is pointing at the line where it initially broke and it's showing instructions in the modeline).

I'll see what I can do. Are there any debugging/troubleshooting steps you could think of that I could try? I'm somewhat capable of elisp debugging., but it'd be great to have a starting point, especially since there could be a problem in

[2018-08-21 08:04] NicolasPetton commented on #166
There are instructions here https://indium.readthedocs.io/en/latest/troubleshooting.html#general-advices-before-reporting-issues

But I suspect that the TCP messages are not handled correctly. Can you paste the content of the ` indium-client-conn ` (notice the spaces around the buffer name) as well?

[2018-08-21 08:48] NicolasPetton commented on #166
I found a bug that looks very close to the symptoms you describe, without using React. Unfortunately it's pretty hard to reproduce.

[2018-08-21 09:33] aaronjensen commented on #166
I can't reproduce it with the `(delete-char 1)` you added in that commit. I don't know if you intended to fix it with that, but it looks like you did 😄 Thanks!

I'll reopen if I see it again.

[2018-08-21 09:33] #166 closed

[2018-08-21 12:09] NicolasPetton commented on #166
that's odd, but good :)

[2018-08-21 15:38] DamienCassou opened #167 "Can't get the value of a local variable not in top stack frame"
[code]

Execute this with indium. You should get a debbuger within `g()`. If you go to previous frame, you should be able to get a value for variable `foo` by typing `C-x C-e` but that doesn't work

Workaround: type `C-c C-l` instead to get all local variables.

[2018-08-27 15:15] Moki76 commented on #154
Hi,

I have tested the Indium new release, sorry for not having done it ealier.

Unfortunately it still doesn't work for me, but maybe I have missed something as Indium way of configuration has changed recently.

Here is the steps I followed :
- update emacs indium package with melpa
- install indium server with npm
- create a fresh React app : `create_react_app web_app_test`
- add .indium.json co

[2018-08-27 20:01] NicolasPetton commented on #154
I'm reopening the issue.

I'll try to reproduce using the exact same steps on Windows.

[2018-08-27 20:02] NicolasPetton commented on #154
One question though, is the breakpoint ever resolved (the icon becomes a plain red circle as opposed to a shallow red circle)?

[2018-08-27 21:58] Moki76 commented on #154
Thanks. No the breakpoint should not be resolved as the red circle never becomes plain.

[2018-09-01 08:48] bobrowadam opened #168 "Can't connect"
Hi, While running 'indium-connect' I get `connect ECONNREFUSED 127.0.0.1:9229` although this port is not being used by any process.
BTW - thanks for all your great work!
Here is the indium log:
[code]

[2018-09-11 00:03] felipeochoa opened #169 "Display Set elements"
In both the REPL and the inspector buffer, ES6 sets are shown as empty:

[code]
[code]

I realize this probably requires special-casing in the inspector, but it's really helpful to see set elements. Node's REPL does this:

[code]

[2018-09-11 09:09] NicolasPetton commented on #169
Thanks for reporting this! :+1:

I'll have a look and fix it, displaying data as close as possible to Node/Chromium.

[2018-09-11 09:10] NicolasPetton commented on #168
@bobrowadam can you tell me a bit more about your setup?

- NodeJS version
- How you start node
- .indium.json file contents could help as well

Thanks!

[2018-09-11 09:11] NicolasPetton commented on #167
You're right, and that is a regression in the new client/server implementation.
It's not super high priority though compared to some more urgent bugs, but I'll try to add support for it soonish.

[2018-09-11 11:38] xuchunyang commented on #169
And Map

[code]

v.s. Node's

[code]

[2018-09-14 22:43] felipeochoa opened #170 "Broke mocha.el"
I set up [mocha.el](https://github.com/scottaj/mocha.el/) to [use the indium debugger](https://github.com/scottaj/mocha.el/pull/56). That setup, however, relied on `indium-connect-to-nodejs`: mocha.el needs to start the node process itself (setting a bunch of flags depending on the specific test/module/project being debugged) and then calls a debugger to attach to the process.

Is there a way to r

[2018-09-16 12:57] manateelazycat opened #171 "Indium server error: connect ECONNREFUSED 0.0.0.0:9222"
Hi

I have install indium with
[code]

Below is .indium.json place on root of rails project:
[code]

command indium-launch works fine, i got error after later:
[code]

Below is content from *indium-debug-log*
[code]

What's wrong with my config?

How can i fix it?

Thanks for help. ;)

[2018-09-16 18:35] bobrowadam commented on #168
Hey, I eventually managed to make it work so closing the issue.
Thanks!

[2018-09-16 18:35] #168 closed

[2018-09-16 20:44] NicolasPetton commented on #168
bobrowadam <notifications@github.com> writes:

Cool! Could you tell me what was wrong?

Cheers,
Nico

[2018-09-17 07:28] NicolasPetton commented on #171
Hi!

It looks like Chrome is not started with the `--remote-debugging-port=9222` flag.
You can check by navigating to `localhost:9222`.

One possibility is that Chrome was already running when you launched Indium, in which case it might just open a new tab and not start a new instance.

Can you try closing Chrome first? If it works but is inconvenient, we can think about ways to fix it.

[2018-09-17 08:27] mfidemraizer opened #172 "Prompt while debugging vanilla JS code in Node"
When I run `indium-debugger-launch` on a project where I use Node 10.x and vanilla ES modules, I get this prompt whenever I do any debugger action (step into, step out, resume...):

https://github.com/NicolasPetton/Indium/blob/f19ea56a3825920df92609286d5caa2b8b946406/indium-debugger.el#L200

This is my `.indium.json` file:

[code]

[2018-09-17 09:53] manateelazycat commented on #171
@NicolasPetton

I didn't realize Google Chrome still contains background process even I quit Chrome from GUI.
I can use indium-connect command after i killall Chrome processes.

Thanks so much for build indium, it's really cool that i can evaluate JavaScript in Emacs !!!

Have a nice day, man! ;)

 -- Andy

[2018-09-17 09:53] #171 closed

[2018-09-17 10:29] NicolasPetton commented on #171
@manateelazycat thanks :)

As I said, if having to kill Chrome turns out to be annoying, I can work on a fix.

[2018-09-17 10:56] #169 closed

[2018-09-17 10:57] NicolasPetton commented on #169
Version 3.1 of the indium server should fix the issue! https://www.npmjs.com/package/indium

[2018-09-17 11:42] #172 closed

[2018-09-17 11:44] NicolasPetton commented on #172
Version 3.1.1 of the server component of Indium should fix the issue.

[2018-09-17 11:48] NicolasPetton commented on #171
@manateelazycat What about using a separate Chrome profile?

[2018-09-17 11:50] manateelazycat opened #173 "Can't use breakpoint in Rails/JS"
Hi, @NicolasPetton

I have make indium-connect and indium REPL works with my rails project, awesome.

But i can't make breakpoint works my JS code like your manual wrote: https://indium.readthedocs.io/en/latest/code-evaluation.html

My indium.json content is:
[code]

My rails tree list like below:
[code]

I want breakpoint some line at file: app/javascript/controllers/mission_controllers.js.
I can

[2018-09-17 12:05] manateelazycat commented on #171
sorry，i can't understand what you mean :(

I can help test if you have new solution

[2018-09-17 12:32] manateelazycat commented on #173
@NicolasPetton
When i do indium-add-breakpoint, i got errors from REPL buffer:
[code]

Any lint? ;)

[2018-09-17 13:56] manateelazycat commented on #171
@NicolasPetton

Of course, it's better if Chrome don't need user restart.

I think Chrome background process mechanism will confuse many people that wan't try indium.

[2018-09-17 14:14] mfidemraizer commented on #172
Yes, it does! Thank you for fixing the issue! Now Indium is also usable in vanilla JS ES modules!

[2018-09-17 16:41] juergenhoetzel commented on #168
I had the same issue in an command line application. I was assuming `--inspect-brk` is used (like mentioned in the documentation):  [Fix invalid default value in documentation](https://github.com/NicolasPetton/Indium/pull/174)

[2018-09-18 07:03] bobrowadam commented on #168
Honestly, I don't remember what solved it :) Might be what @juergenhoetzel had mentioned, not sure though.

[2018-09-18 07:30] NicolasPetton commented on #170
Felipe <notifications@github.com> writes:

Sure. Basically, you need to feed the server with an indium configuration that
you would generate on the fly.

You will probably want to configure the nodejs options as documented
here:
https://indium.readthedocs.io/en/latest/setup.html#nodejs-configuration-options

The server protocol is documented here:
https://github.com/NicolasPetton/Indium/tree/maste

[2018-09-18 07:30] NicolasPetton commented on #170
If you get stuck, ping me, I'll try to free some time to do it.

[2018-09-18 07:43] NicolasPetton commented on #173
Could you give me simple steps to reproduce the issue starting from a new Rails project? (I haven't used RoR in ages).

[2018-09-18 07:45] NicolasPetton commented on #173
Your sourcemap mappings point to `/app/javascript/...` instead of `/Users/andy/tower-ng/app/javascript/...`, which is fishy.

[2018-09-18 08:27] NicolasPetton opened #175 "Cannot jump to location in the debugger when using sourcemaps"
The server responds `Indium server error: Cannot read property 'sourceMap' of undefined`.

/cc @DamienCassou who also experiences the issue.

[2018-09-18 08:31] manateelazycat commented on #173
How do i fix this?

I need add something in .indium.json ?

[2018-09-18 09:17] manateelazycat commented on #173
@NicolasPetton

Below is reproduce steps:
[code]

Below is content of indium-list-sourcemap-sources:
[code]

Hope above can help you find where is the problem.

  -- Andy

[2018-09-18 12:49] NicolasPetton commented on #173
Andy Stewart <notifications@github.com> writes:

Thanks, I'll debug it and will keep you informed.

[2018-09-19 02:43] manateelazycat commented on #173
It's cool, hope i can breakpoint JS code in ROS project.

[2018-09-19 03:46] manateelazycat opened #176 "Can you use js-mode instead js2-mode in indium?"
Hi

I found js2-mode is very slow that will freeze Emacs when type chars in *.js file.

So can you use js-mode instead js2-mode in indium source code?

Thanks

[2018-09-19 07:36] NicolasPetton commented on #176
Andy Stewart <notifications@github.com> writes:

Yes you can.  There is a warning about it in the document of Indium:
https://indium.readthedocs.io/en/latest/debugger.html#using-sourcemaps

[2018-09-19 07:37] #176 closed

[2018-09-19 07:49] manateelazycat commented on #176
![image](https://user-images.githubusercontent.com/237487/45738587-7f467000-bc23-11e8-918f-d88d1211372b.png)

@NicolasPetton  I mean can you remove js2-mode from indium source code?

I even can't load indium success if i remove j2s-mode.el from load-path.

[2018-09-19 08:40] NicolasPetton commented on #176
Why do you want to remove the dependency on js2-mode?
Indium uses js2-mode to parse JS files and use the AST.

Loading js2-mode does not mean that you have to use that major mode for JavaScript buffers.

[2018-09-19 08:58] manateelazycat commented on #176
ok i understand

[2018-09-20 08:45] NicolasPetton commented on #173
@manateelazycat Update the Indium server to 3.2.0, it should fix your issue :)

[2018-09-20 08:55] manateelazycat commented on #173
@NicolasPetton

I have install 3.2.0
[code]

And test with commands: indium-connect and indium-add-breakpoint.

But still can't work, i miss something ?

[2018-09-20 09:27] NicolasPetton commented on #173
Andy Stewart <notifications@github.com> writes:

That's odd.  Can you give me the output of indium-list-sourcemap-sources?

[2018-09-20 09:36] manateelazycat commented on #173
output of indium-list-sourcemap-sources after upgrade to 3.2.0
[code]

[2018-09-20 23:38] felipeochoa opened #177 "Feature request: Numerically sort array elements in Inspector"
The sort method used compares keys as strings, so for arrays with >10 elements, the order is `0, 1, 10, 100, 101, 102, ... 11, 110, ... `. It would be awesome if the numeric array keys could output in order

[2018-09-24 04:09] manateelazycat commented on #173
@NicolasPetton Any luck for this?

[2018-09-26 00:11] manateelazycat commented on #173
Thanks, please let me know if you need more info. ;)

[2018-10-04 19:28] vemv opened #178 "Which javascript(s)?"
Hi there!

Project looking very nice, kudos.

Reading the README/docs it is not clear to me which EcmaScript versions are supported, which are _best_ supported, which mode I should use (js-mode? js2-mode?)...

I'd suggest having a brief section dedicated to it.

Thanks - Victor

[2018-10-10 18:20] stephanschubert opened #179 "`indium-launch` returns error"
I'm running `indium-launch`, a chrome tab is opened but the minibuffer says:

[code]

My app is running at:

[code]

and my config is:

[code]

What am I missing here?

[2018-10-12 13:58] DamienCassou commented on #167
Fix at https://gitlab.petton.fr/nico/Indium/merge_requests/27.

[2018-10-15 09:08] #167 closed

[2018-10-15 15:43] NicolasPetton commented on #179
Do you have Chrome already opened prior to running `indium-launch`? If so, it is probably started without the `--remote-debugging-port` flag, as explained here: https://indium.readthedocs.io/en/latest/setup.html.

I'm working on an improvement (start chrome with a new user profile),  but in the meantime you'll to either start chrome yourself with the flag, or make sure that chrome is not started w

[2018-10-15 15:44] NicolasPetton commented on #178
Thanks for the suggestion.

What exactly do you find confusing: the best Emacs major-mode to use, or the JS version that is supported (ES5, ES6, etc.)?

[2018-10-15 15:47] vemv commented on #178
Thanks for the reply,

actually I have both questions.

[2018-10-15 15:48] NicolasPetton commented on #175
Fixed in 51bf5d8

[2018-10-15 15:48] #175 closed

[2018-10-15 19:10] stephanschubert commented on #179
@NicolasPetton Ah thank you, I missed that. A custom profile would be nice too.

In case someone finds that issue later—I had to use the following command on OSX:

[code]

[2018-10-15 19:10] #179 closed

[2018-10-16 08:34] NicolasPetton commented on #178
Regarding ES versions, Indium is evaluating JavaScript in the runtime it connects to, so Indium actually doesn't know.

I'll document major modes in the documentation. Both js-mode and js2-mode work. I would suggest using js-mode with js2-minor-mode, as it provides the fastest experience. There is a warning about js2-mode in the documentation here: https://indium.readthedocs.io/en/latest/debugger.

[2018-10-27 23:13] flamingbear opened #182 "problems connecting"
Just trying to set up a simple test to see if I like indium, but can't get it to work at all.  It looks different from #171  and #168 to me.

I created a new init.el just installing indium to see if I had something conflicting in my existing set up but see the same errors.

Running Mojave:
`GNU Emacs 26.1 (build 1, x86_64-apple-darwin14.5.0, NS appkit-1348.17 Version 10.10.5 (Build 14F2511)) of 20

[2018-10-28 21:47] flamingbear commented on #182
Sorry, This looks like user error.  indium-launch gave me an error `error in process filter: No NodeJS command specified in the .indium.json file` . I updated my .indium.json file and I can launch indium from a js buffer.  (so yeah, I was just missing something simple.) . Thanks Matt

[2018-10-28 21:47] #182 closed

[2018-11-18 23:55] stevemolitor opened #183 "Script Completions in JS-REPL not working"
When I step thru my code using the indium debugger, completion does not work for any of my script variables. It only shows the default properties of `Object` in the completion list. The object inspector however can inspect my variables, showing all the properties of my object.

Here is my script:

[code]

When I run my script and try to complete the properties of `obj` I only see the default `Obje

[2018-11-19 22:19] FrancescoCadei opened #184 "No JavaScript AST available"
`indium-run-node` works but when I try `C-x C-e` in a .js buffer i get `js2-node-at-point: No JavaScript AST available`

I'm with emacs 25.1.1, indium-1.2.0, node 10.13.0.

my settings:
[code]

I don't have any other package for javascript.

Thanks in advance.

[2018-11-20 10:08] NicolasPetton commented on #184
Francesco Cadei <notifications@github.com> writes:

Have you enabled `js2-minor-mode`?  Without it you will have no AST, and
Indium cannot lookup the node to evaluate.

[2018-11-20 15:52] FrancescoCadei commented on #184
Thanks, I've solved adding `(add-hook 'js-mode-hook 'js2-minor-mode)`

[2018-11-20 15:52] #184 closed

[2018-11-21 10:45] NicolasPetton opened #185 "Breakpoints registered at the wrong location with minified files with no line breaks"
When using sourcemaps and minified files where line breaks are discarded, breakpoints are not registered at the correct location.

[2018-11-21 10:48] #185 closed

[2018-11-22 08:32] NicolasPetton commented on #183
Thanks for reporting the issue. I can reproduce it as well.

[2018-11-22 08:53] NicolasPetton commented on #183
Commit e6205659 should fix the issue.

[2018-11-22 08:53] #183 closed

[2018-11-22 08:54] NicolasPetton commented on #183
@stevemolitor you'll also need to update the npm package to v3.3.3.

[2018-11-22 13:51] NicolasPetton commented on #173
@manateelazycat hey, I pushed some fixes related to sourcemaps, and a new release of the npm Indium package. Could you tell me if that fixed your issue?

[2018-11-22 15:17] manateelazycat commented on #173
@NicolasPetton I have try install newest version, it's works now!!!

Thank you so much, awesome work!!!

[2018-11-22 15:17] #173 closed

[2018-11-23 08:08] NicolasPetton commented on #173
Andy Stewart <notifications@github.com> writes:

Excellent, I'm really glad it finally works!

[2018-11-23 08:17] #177 closed

[2018-11-23 09:16] manateelazycat commented on #173
Nice job, 1024+ 👍🏻

[2018-11-23 10:33] NicolasPetton commented on #170
@felipeochoa did you manage to fix the issue? Any more help needed from me?

[2018-11-23 10:34] #138 closed

[2018-11-23 10:37] #139 closed

[2018-11-23 13:36] felipeochoa commented on #170
Haven't had much time for OSS lately, so unfortunately not. It's still on my TODO list, though!

[2018-11-23 14:13] NicolasPetton commented on #170
Felipe <notifications@github.com> writes:

Ok, just let me know if you need my help.

[2018-11-26 09:32] NicolasPetton commented on #171
With commit 6259454, Indium will start a new Chrome process in a separate profile by default, so no need to restart Chrome anymore.

[2018-11-26 09:37] #170 closed

[2018-11-26 20:48] #178 closed

[2018-11-27 08:35] NicolasPetton commented on #154
@Moki76 I have tested the latest master with the latest npm package under windows 10 with the provided steps, and it works fine now for me in Windows.

If it's still an issue for you, please tell me and reopen the issue.

[2018-11-27 08:35] #154 closed

[2018-11-27 09:06] Moki76 commented on #154
@NicolasPetton , I confirm that updating to the last version of Indium in Melpa (20181126.2048) fixes the bug.
Good job, thank you !

[2018-11-28 17:48] stephanschubert opened #187 "Question: `indium-launch` opens `url` but does not connect to the tab"
I have to run `indium-connect` afterwards to open a REPL in the context of the tab.

Is this intended?

[2018-11-28 19:07] NicolasPetton commented on #187
No, that's not intended at all, it should connect to the current tab (the only one if you ran `indium-launch` with the default settings.

Do you get any error or message?

[2018-11-29 07:13] arthurgleckler opened #188 "mapping "localhost:8443/bat/quux.js/98234234" to "foo/bar/bat/quux.js""
I'm trying to figure out how to use source map overrides to map relative URLs that end with numbers to filenames without those numbers.  (The numbers are used to ensure uniqueness when the JavaScript sources change.)  For example, I'd like to map:

  `localhost:8443/bat/quux.js/98234234`

to:

  `foo/bar/bat/quux.js`

Is there a way to do this, perhaps with `sourceMapPathOverrides`?

Thank you ver

[2018-11-29 08:08] NicolasPetton commented on #188
`sourceMapPathOverrides` would only work if you are actually using sourcemaps, but it looks like you just want to map file paths, am I correct?

[2018-11-29 08:10] arthurgleckler commented on #188
That's right.  I was hoping there might be a way to use the overrides
somehow.

[2018-11-29 08:12] NicolasPetton commented on #188
Ok, then there's no support today for it, but I think we can easily add it.
How do you add the numbers to the file paths to be served?

I'm asking because I believe that using `localhost:8443/bat/quux.js?v=98234234` will work out of the box in Indium.

[2018-11-29 08:41] NicolasPetton commented on #187
Ok, then I think I know what's going on. Upon launching the browser, indium connect to the current tab. However in your case, you get a popup, and my guess is that the current tab is not yet the page you want to debug, but an extension.

Do you get this message for each startup of Chrome.

[2018-11-29 09:12] stephanschubert commented on #187
Yes—because it's a new temporary profile each time, I guess.

[2018-11-29 10:05] NicolasPetton commented on #187
Right. I do not have this popup on Linux though. Thanks for reporting this, I'll try to come up with a fix.

[2018-11-29 15:52] brandon-arnold opened #189 "Unable to add/connect breakpoint in Express server functions"
I mentioned this in Gitter and was asked to post a repro here.

When I set breakpoints inside my ExpressJS API callback functions, they have a red empty circle and do not seem to fire.

[See this repo](https://github.com/brandon-arnold/indium-reproduce-breakpoint-issue) in which I've implemented a simple Express server. Pull the repo down, `npm i && npm start`. Then browse to `./lib/foo/foo.js` in

[2018-11-29 18:21] brandon-arnold commented on #189
Note: There is a little bit of extra stuff in that repo than necessary, namely the pulling in the Babel Namespaces plugin. I have left it there just in case that can be tested while you're at it; the error still happens if you change [the import in line 2 of `lib/lib.js` ](https://github.com/brandon-arnold/indium-reproduce-breakpoint-issue/blob/d650d91d76e71efd0d31abb5770a2cff9b8c32eb/lib/lib.js#L

[2018-11-30 01:40] Yeonjj opened #190 "Breakpoint not woking on nodejs"
Hi,

A project is running on:

spacemacs 26.1 on MacOS.

I am trying to set breakpoint connecting to node.js:

 1. On a terminal, I did `node --inspect --debug-brk app.js`.
 2. On spacemacs, I did `indium-connect-to-nodejs RET RET path RET y`
 3. It works fine until now. It breaks at first line.
 4. I did `indium-add-breakpoint` on a line I want to break
 5. hit `c` to continue and go to the line

[2018-11-30 14:19] NicolasPetton commented on #190
Hi!

Thank you for reporting the issue. I need some more information:

- Which version of Indium are you using?
- Do you have sourcemaps?
- Could you copy/paste your .indium.json file?

Thanks

[2018-11-30 22:29] NicolasPetton commented on #188
"Arthur A. Gleckler" <notifications@github.com> writes:

We could add something like `sourcePathOverrides` to .indium.json for
that.  The issue with your approach is that it relies on internals of
the server, which my change at any time.

I think we could have a look at what options VisualStudio Code has,
maybe there's a good fit for us (.indium.json is loosely based on the
VSCode format).

Could

[2018-11-30 23:12] arthurgleckler commented on #188
Nicolas Petton <notifications@github.com> writes:

Yes, of course.  It's definitely a hack.

For example, consider the script `calendar.js`, which is currently served by my app at the relative URL `/calendar/calendar.js/1542767747`.  The source file for that is at `web/site/private/calendar/calendar.js` relative to the root of my source tree, which is where my `.indium.json` file is located.  So I

[2018-12-01 15:05] NicolasPetton commented on #190
"Y.H" <notifications@github.com> writes:

Ok, then I think you should upgrade to indium 2.0.  Have a look at the
readme and https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html

[2018-12-01 15:42] #190 closed

[2018-12-02 17:30] NicolasPetton commented on #190
"Y.H" <notifications@github.com> writes:

Sure! v2.0.0 was released a few days ago!

[2018-12-03 19:59] arthurgleckler commented on #188
I've just sent you a pull request for this feature.

[pull request #191](https://github.com/NicolasPetton/Indium/pull/191)

Thank you!

[2018-12-04 09:15] artenator opened #192 "require is not defined"
When using indium with nodejs, I get this error when evaluating a buffer:
`ReferenceError: require is not defined
    at <anonymous>:1:1`

The breakpoints and the stepping debugger work fine, but I'm unable to evaluate `require` statements to the REPL.

[2018-12-06 08:50] nablaoperator opened #193 "Ignore node internals"
Hi,

I would like to use the custom variable `indium-debugger-blackbox-regexps` to exclude all node internal source files. VSCode has a nice option to just exclude <node_internals>, is there something similar for Indium? If not, can you give some example regexp?

Thanks a lot and best regards
David

[2018-12-07 09:49] NicolasPetton commented on #193
nablaoperator <notifications@github.com> writes:

Hi,

Unfortunately this feature was lost with the 2.0 release of Indium.
I'll work on a replacement though.

[2018-12-07 09:50] NicolasPetton commented on #192
Arte Ebrahimi <notifications@github.com> writes:

Thanks for reporting the issue.

Could you give me more info? Simple steps to reproduce the issue would be perfect.

[2018-12-07 14:59] nablaoperator commented on #193
Hi Nicolas,

Very cool, thanks a lot!

Best regards
David

[2018-12-10 04:29] strawhatguy commented on #192
I've noticed this myself recently, when I have the node command in .indium.json be:
`node ./some.script.js`

it will load and execute the script just fine, but require won't be there.

However, if it's just:
`node`

Then obviously it doesn't load any scripts, but require is available.  So seems to be something about js and/or nodejs contexts that I don't understand.

[2018-12-10 04:40] strawhatguy commented on #192
I just ran `node script.js --inspect` and connected a Chrome DevTools to it.  Didn't seem to have a require there either; so perhaps it's something about the dev tools protocol itself.

[2018-12-10 10:50] NicolasPetton commented on #187
Stephan Schubert <notifications@github.com> writes:

When using Chrome on Linux (and not chromium as I usually do), I see the
same popup. However, Indium correctly connects to the tab, so I need to
investigate more.

[2018-12-11 13:39] strawhatguy commented on #192
Appears so, yes.  Do others see the same thing?

[2018-12-12 09:31] NicolasPetton commented on #192
It probably has to do with the context used by Indium to evaluate in the REPL.

I will look for execution context events fired by the runtime. Currently Indium doesn't do anything with execution contexts outside of the debugger.

[2018-12-12 09:47] NicolasPetton commented on #192
It turns out that using `includeCommandLineAPI` fixes the issue.

https://chromedevtools.github.io/devtools-protocol/v8/Runtime#method-evaluate

[2018-12-12 09:59] #192 closed

[2018-12-12 10:02] NicolasPetton commented on #192
@artenator @strawhatguy Please try with the version 3.4.1 of the server component, I just published it on npm.

[2018-12-12 10:03] NicolasPetton commented on #188
Now that we have a proper solution in master, I'm closing this one :)

[2018-12-12 10:03] #188 closed

[2018-12-18 14:51] jcwearn opened #194 "Trouble connecting to node"
I am attempting to add indium to a node project.

The project has several different services that I have added to the configuration in the `.indium.json`:
[code]

The three services are running in docker using commands similar to the following:
[code]

I can manually debug these services like so:
[code]

When I attempt to connect using `indium-launch`, the port in my configuration seems to be igno

[2018-12-20 15:03] NicolasPetton opened #195 ":sparkles: **Welcome to GitHub Projects** :sparkles:"
We're so excited that you've decided to create a new project! Now that you're here, let's make sure you know how to get the most out of GitHub Projects.
- [x] Create a new project
- [x] Give your project a name
- [x] Press the <kbd>?</kbd> key to see available keyboard shortcuts
- [x] Add a new column
- [ ] Drag and drop this card to the new column
- [ ] Search for and add issues or PRs to your pr

[2018-12-20 17:02] #195 closed

[2018-12-25 14:56] ignaciocaamanio opened #196 "The REPL starts but immediately get ECONNREFUSED"
I'm using Indium 20181206.1044, Node 11.4.0 (nvm), Archlinux.
After executing `M-: indium-connect` the REPL launches but I get: `Indium server error: connect ECONNREFUSED 127.0.0.1:9229`

I've tried with different ports and nothing.

.indium.json is:
`{
    "configurations": [
        {
            "name": "Web project",
            "type": "node",
            "port": 9229
        }
    ]
}`

[2018-12-26 21:30] ignaciocaamanio commented on #196
I didn't, how do i start the node process?

[2018-12-27 20:03] NicolasPetton commented on #196
You can add a command to be executed in your configuration like the following:

[code]

And start indium with `M-x indium-launch`, which will start the process for you.
See https://indium.readthedocs.io/en/latest/setup.html#nodejs-configuration-options

Otherwise, you can start the node process yourself, adding the `--inspect` flag, and connect to it with `M-x indium-connect`.

[2018-12-27 22:06] lrstott opened #197 "Not sure how to run..."
My developement env is on a laptop running win 10 inside virtualbox running ubuntu 17.10. The vm is port forwarded because I run through a vpn. I am developing a react/redux application utilizing webpack and hot module replacement which works very well. However, I wanted to try indium to see if it would be better. I am running emacs 26.1.

I have tried several different ways of launching/connectin

[2018-12-28 15:12] lrstott commented on #197
Continuing with debug, I am able to launch the node process with a command of 'node npm start'. And this did break in the npm-cli module butit does not find any sourcemaps.

[2019-01-02 10:18] NicolasPetton commented on #197
lrstott <notifications@github.com> writes:

I'm not sure "node npm start" will work.

Have a look at the "start" command in you package.json.  From there you
should be able to see what node command to run from indium, and put it
in your .indium.json configuration file.

[2019-01-02 15:02] lrstott commented on #197
The "npm start" is part of webpack and is utilizing, among other things, the hot package swap feature. The "start" is a script that sets many env vars and starts up several processes. It, in turn, is called by another script. I don't think it is a good idea to execute it directly.

The other issue I see with this is the fact that webpack is building the application in memory and not on disk (at le

[2019-01-02 16:22] NicolasPetton commented on #197
lrstott <notifications@github.com> writes:

I see.

Yes, Indium works pretty well with webpack and sourcemaps in general,
see
https://indium.readthedocs.io/en/latest/debugger.html#using-sourcemaps.

[2019-01-03 15:57] lrstott commented on #197
Ok, I have made some progress. 'list_script_sources' lists modules used in ./node_modules and from /usr/local/lib/node_modules. However, 'list_sourcemap_sources' returns nothing. I added the sourceMapPathOverrides with the settings you provided and that did not change anything which is what I expected.

[2019-01-03 16:02] lrstott commented on #197
There is one thing I am confused about. In my source dir is a public dir with the index.html and there is also a src dir that contains the javascript source files. I set my "root" to "src". Is that the correct configuration?

[2019-01-05 13:08] NicolasPetton commented on #197
lrstott <notifications@github.com> writes:

It depends where the .indium.json file is.  The root should be the the
directory where the source JS files are located, relative to the
.indium.json file.

[2019-01-05 13:09] NicolasPetton commented on #197
lrstott <notifications@github.com> writes:

When in doubt, you can check the setup guide https://indium.readthedocs.io/en/latest/setup.html

[2019-01-16 11:39] ignaciocaamanio commented on #196
Thank you, I think the problem was that I didn't have this line: `"command": "node ./index.js",`

But now I have another problem...
`Indium server error: Cannot find context with specified id`

Thank you for your help!

[2019-01-16 14:06] NicolasPetton commented on #196
Great! I'm closing this one then.

Could you open another ticket detailing the issue you're facing now? Thanks!

[2019-01-16 14:06] #196 closed

[2019-01-16 15:13] ignaciocaamanio commented on #196
Ok!!

[2019-01-21 08:16] NicolasPetton commented on #197
@lrstott can I close the issue?

[2019-01-22 01:41] lrstott commented on #197
Yes.On Jan 21, 2019 2:16 AM, Nicolas Petton <notifications@github.com> wrote:@lrstott can I close the issue?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-22 08:06] #197 closed

[2019-01-25 13:42] anquegi commented on #173
@manateelazycat  and @NicolasPetton Thanks for this, this should be converted to a little tutorial for using Indium with RoR

[2019-01-25 14:04] NicolasPetton commented on #173
@anquegi it should just work now, or do you have any issue specific to RoR?

[2019-01-27 15:42] anquegi commented on #173
HI @NicolasPetton , I'm just beginning, now, with Indium and exploring all the possibilities, and after reading this issue, I found that is the best/fast source to make Indium working with RoR. so I was only pointing that this could be converted in a RoR & Indium tutorial. I will also check the great documentation.
Thanks for making this awesome emacs library

[2019-02-02 23:36] ignaciocaamanio opened #198 "Indium server error"
After M-x: indium-launch the REPL starts but when I try to evaluate something I get:
`Indium server error: Cannot find context with specified id`

[2019-02-04 08:39] NicolasPetton commented on #198
Hi,

Could you tell me more about your setup?  Do you connect to a node process or chrome?
It's also good to have a look at this page: https://indium.readthedocs.io/en/latest/troubleshooting.html

[2019-02-08 19:05] ignaciocaamanio commented on #198
I connect to a node process, use nvm, emacs 26.1 on Linux.

[2019-02-11 09:10] NicolasPetton commented on #198
Thank you.
I have a few other questions:
- What version of nodejs are you using?
- Are you sure you have a running process when you connect with Indium? If your node application is not a server, it might very well exit immediately, and Indium would try to connect too late. In that case, try adding `"inspect-brk": true` in your configuration as documented here:
https://indium.readthedocs.io/en/late

[2019-02-12 02:48] bigfish commented on #162
as an addendum, setting the indium-chrome-executable to 'google-chrome' worked for me, having installed Chrome on ubuntu.

[2019-02-12 03:43] bigfish commented on #187
So this is broken in Chrome, but works in Chromium

I think it should probably pass the --profile-directory=Default param to Chrome binary.. https://superuser.com/questions/377186/how-do-i-start-chrome-using-a-specified-user-profile

syntax is a bit different on mac vs linux. Maybe an option to set profileDirectory in .indium.json ? But setting default by default would seem to make sense.

[2019-02-12 03:56] bigfish commented on #187
wait.. it is only broken with temp profile.. I set
  (setq indium-chrome-use-temporary-profile nil)
and it opened up Chrome without the popup, in current instance of Chrome.
 But there was an error about failing to connect..  but then if I quit Chrome entirely, and launch from emacs, indium connects fine to the launch page.
I believe this is already documented.. but it would be nice if a) using te

[2019-02-12 08:21] NicolasPetton commented on #187
@bigfish you are right, thank you.
I'll push a fix in master.

[2019-02-14 22:12] ignaciocaamanio commented on #198
I'm using node 11.6.0. I added `"inspect-brk": true` but when I go back to the REPL get the same "indium server error" when I want to evaluate something. Maybe I don't understand how it works Indium, I used it some long ago and I managed to make it work as a REPL to evaluate the code that I was writing. When I have time I'll give it a second look to understand it.

[2019-02-15 10:40] Moki76 opened #199 "Make Chrome profile directory configurable"
Hi,

As far I know, their is no way to manually set Chrome `--user-data-dir` option through Indium.

If `indium-chrome-use-temporary-profile` is set, a new temporary profile is created at each session, and login/password, history, favorites, ... are lost.

If I try to manually add `--user-data-dir=...` to `indium-chrome-executable` I get this error :

So adding a `--indium-chrome-option` could be

[2019-02-18 23:46] jinlin82 commented on #198
I have exact the same problem.
My config : Windows 7 64 bit + Emacs 26.1 + node-v10.15.1-win-x64

.indium.json file as following:

[code]

and I also try node.js 8.9 version and add  `"inspect-brk": true` but no luck.

[2019-03-01 08:07] NicolasPetton commented on #198
@ignaciocaamanio is your project exiting after evaluating `node ./albums.js`?

If it the case then what happens is that Indium gets disconnected right after the evaluation of the file, because the node process exited, so you cannot evaluate anything anymore.

You can still debug it using `inspect-brk` as you mentioned, and use the REPL **while** you are debugging.  Node used to keep the process ru

[2019-03-01 08:22] NicolasPetton commented on #194
Hi @jcwearn, here's what I did to reproduce the issue:

`test/test.js`:

[code]

The `test/.indium.json` file:

[code]

Then I start the node process with

[code]

and open an Indium connection through `M-x indium-connect`, it works fine.

However, if I use Indium to start the process, the port in the configuration indeed ignored.
Can you confirm that you experience the same behavior? Thanks!

[2019-03-01 08:23] NicolasPetton commented on #199
@Moki76 As a first step and workaround, would it be ok with you if the profile directory used was always the same (in a known temp directory), but not configurable?

[2019-03-01 09:03] NicolasPetton commented on #194
@jcwearn Commit 8872448 should fix the issue. It'll land in master after the build.

[2019-03-01 09:40] #194 closed

[2019-03-01 21:52] Moki76 commented on #199
Yes of course, in fact I do not need the directory to be configurable for my own usage.
Thanks

[2019-03-01 22:09] terlar opened #201 "Add variable references to command"
I often end up creating multiple configurations, that basically does the same thing. It would be nice if the commands supported variable references to such things as current buffer/file. This could allow for more use-cases and generic configurations.

This is currently supported by Visual Studio code, see https://code.visualstudio.com/docs/editor/variables-reference

I think it is a kind of neat i

[2019-03-02 22:35] #199 closed

[2019-03-02 22:35] NicolasPetton commented on #199
@Moki76 The next build on MELPA should fix the issue.

[2019-03-02 22:37] NicolasPetton commented on #201
It would be nice, indeed.  Could you send me a link with the doc in VSCode?

[2019-03-05 15:55] Moki76 commented on #199
Thank you for the fix. Unfortunately it is not exactly what I looking for because the fixed temporary directory is only persistent for the Emacs session, but as soon as Emacs is closed and reopened a new one is generated and the previous profile informations are lost...

[2019-03-05 21:14] NicolasPetton commented on #199
@Moki76 I exposed the variable `indium-chrome-data-dir` with that use-case in mind.

If you want to set a permanent profile, you can set it to something like `/tmp/indium-chrome`.

And if you also want to persist across reboot, you can set it to a directory within your .emacs.d:

[code]

Does that answer your needs? If not, I'll reopen the issue.

[2019-03-06 09:03] Moki76 commented on #199
My elisp bad understanding (`defvar` vs `defcustom` use) leads me to make a wrong assertion, sorry...

It works now as expected, thanks @NicolasPetton !

[2019-03-06 20:59] NicolasPetton commented on #199
No problem, I'm glad it works!

[2019-03-10 19:59] terlar opened #202 "`scriptPathOverrides` and/or `sourceMapPathOverrides` not working for remote nodejs project"
I am having some issues with the `sourceMapPathOverrides` and `scriptPathOverrides`, I want to connect to a debugger running a lambda in a docker container (e.g. https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-debugging.html), however it seems the paths does not translate. I have the following:

[code]

And I see such things as:

[code]

Also

[2019-03-17 21:08] NicolasPetton commented on #187
@bigfish I still cannot reproduce the issue on Linux, but maybe you can help me :)

Could you try the branch https://github.com/NicolasPetton/Indium/tree/fix-187 and tell me if it fixes your issue?

Basically what it does is use a directory inside `.emacs.d` as data dir for chrome by default.

[2019-03-18 08:46] NicolasPetton commented on #202
Can you show me the path defined for the sourcemap in the source .js file?

[2019-03-18 10:07] terlar commented on #202
If I understand correctly it should be this part:

index.js:
[code]

index.js.map:
[code]

config.js:
[code]

config.js.map
[code]

logger.js:
[code]

logger.js.map:
[code]

Is this what you mean?

Thank you for looking into this, would really love to have this working :)

[2019-03-18 21:35] NicolasPetton commented on #202
Yes, that 's what I meant, thank you.

You can have a look at this section of the troubleshooting page: https://indium.readthedocs.io/en/latest/troubleshooting.html#breakpoints-are-not-set-not-using-sourcemaps

Basically. once you are connected with Indium, can you do the following:

- M-x `indium-list-script-sources`, check which source files exist on disk (the ones clickable)
- M-x `indium-list-

[2019-03-21 18:53] terlar commented on #202
Yeah, the result from `indium-list-sourcemap-sources` is empty.

And I only get red/unclickable paths for `indium-list-script-sources`:
[code]

[2019-03-21 20:29] NicolasPetton commented on #202
A small docker example would be great! It's going to be hard to debug otherwise.

Otherwise, you can ping me on Gitter and we can try to debug it together.

[2019-03-22 17:02] terlar commented on #202
Thank you, I'd like that. I created a dummy project, not with typescript yet. But you could have a look at it, or wait for a week and I can complete it and provide more feedback.

You can find it here:
https://github.com/terlar/sam-playground

If you have docker-compose, you should be able to run:
[code]
and then:
[code]

Then you can connect indium to the debugger, with the api connection specifi

[2019-03-26 08:35] NicolasPetton commented on #202
Terje Larsen <notifications@github.com> writes:

Thank you. I'll see what I can do with this already :-)

[2019-04-01 22:26] flamingbear opened #203 "configuring Indium and using the stepping debugger problems."
Hi, I'm afraid I'm just not savvy enough to know how to set this up and I apologize if this is wasting your time, but I would love to get his working, I'm new to JS but not emacs.  This is a lot of info I've dumped here.

I'm trying to run a node debugging session.  Outside of emacs, I run in my cumulus/example directory:

`$ DEPLOYMENT=mhs3 node --inspect-brk node_modules/.bin/jasmine spec/distri

[2019-04-02 12:05] NicolasPetton commented on #203
Thank you for the detailed report.

Are you using sourcemaps in your project? If so, it might need to be setup properly in Indium for it to work.

[2019-04-02 14:34] flamingbear commented on #203
Unfortunately this is the edge of my knowledge.

Poking around, we're using webpack and in the webpack.config.js I'm seeing `let devtool = 'inline-source-map';`  https://github.com/nasa/cumulus/blob/master/packages/api/webpack.config.js

So for this particular package, all the files are packed into dist/index.js

But looking the https://indium.readthedocs.io/en/latest/debugger.html#overriding-sour

[2019-04-09 13:39] jtkDvlp opened #204 "Debugger not working if breakpoint set via emacs"
Hi there,

first of all thank you for your package.

Till now everything works well excepted the debugger. I can create breakpoints within emacs but the debugger does not work / stop there. Setting breakpoints via devtools, debugger works both within devtools and emacs. Then I also can step by emacs and work, but I cant set breakpoints from within emacs.

`indium-list-script-sources` lists the fil

[2019-04-10 19:28] NicolasPetton commented on #203
Thanks.

So my guess is that you do use sourcemaps. Could you paste your webpack.config.js?

[2019-04-10 20:29] NicolasPetton commented on #204
Hi, and thanks for reporting this issue.

I need to know more about your setup to understand the problem.

- Are you using it with NodeJS or Chrome?
- Do you use sourcemaps?
- Are you on Windows, macOS or Linux?
- Do you use Webpack, another bundler?

Finally, prior to adding a breakpoint in Emacs, can you open the `*indium-process*` buffer, and paste here the log for the breakpoint addition?

Tha

[2019-04-10 20:34] NicolasPetton commented on #203
You can also ping me on the Gitter channel (link in the Readme)

[2019-04-11 18:45] flamingbear commented on #203
Hi Nicolas,
I spent some time with this again, trying to learn about sourceMaps.  I believe the code I'm debugging does not require sourcemaps, although some of the required modules have them. I'm running a sub-project in a monorepo.

I may have not been patient enough in waiting for the *indium-process* to resolve all of the files though.
I have been able to step through all of the jasmine code s

[2019-04-12 07:30] jtkDvlp commented on #204
Thank you for reply.

- I use it with Chrome (Version 73)
- No, I dont need sourcemaps, its just a native js / html file (but separated) combination
- I am on Windows 10
- No bundling, yet

*indium-process* buffer:
`Indium server listening on 13840

Adding a breakpoint did not change buffer´s content.

[2019-04-13 18:27] sandinmyjoints opened #205 "Cannot connect to node server"
I am running a node (v8.14.0) server in docker. In the Docker container, it starts with `node --inspect=0.0.0.0:9229 server-single.js`.

On my (macOS) host, I can talk to it:

[code]

When I browse to chrome://inspect, it appears as a target and I can connect to it.

My .indium.json is this:

[code]

When I run `indium-connect`, this is what I see the indium debug log (there is a gap of 10 or more

[2019-04-13 18:32] sandinmyjoints commented on #205
Similar to https://github.com/NicolasPetton/Indium/issues/194, if I run `node inspect localhost:9229` (which connects and drops me into the debugger), and then I run `indium-connect`, the debug output changes to this:

[code]

[2019-04-13 18:52] sandinmyjoints commented on #205
I notice that the debug server returns `"webSocketDebuggerUrl": "ws://172.24.0.5:9229/187b6aea-3d66-47ae-a2ef-795ee7859eed"` -- I'm guessing the 172.24.0.5 maybe lives inside the docker container, and if indium is getting this value and trying to connect to it from host, it will not be able to reach it? Or something like that. (But then why is Chrome able to connect to it?)

[2019-04-13 19:00] sandinmyjoints commented on #205
`indium-nodejs--process-filter-function`'s docstring says

I'm not great at emacs lisp, but I'm missing how it detects the socket url:

[code]

[2019-04-18 14:29] jtkDvlp commented on #204
Today, I noticed that the breakpoint is not filled like in your readme gif. What does this mean?

[2019-04-22 12:46] FinnFrotscher opened #207 "How to run indium?"
The docs are not very clear on that.
I never worked with indium before, so please forgive the beginner-ishness of my question.

I have the `indium` npm and emacs packages installed. Do i need to run the npm package at a specific port? is it automatically run in the background by the emacs package?

This is the `.indium.json`.:
[code]

When running `M-x indium-connect` i receive a `connection refus

[2019-04-22 16:27] NicolasPetton commented on #207
Indium adds the arguments to the node call, but it will not work for babel-node.

You can however start the process, then connect to it using indium-connect.

If that's too inconvenient, we can think about it and try to find a better way.

On April 22, 2019 2:46:37 PM GMT+02:00, FinnFrotscher <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-23 16:38] FinnFrotscher commented on #207
How would I do that?

[2019-04-30 07:17] NicolasPetton commented on #207
FinnFrotscher <notifications@github.com> writes:

You can start the node process with something like

node --inspect ./myfile.js

Then connect with M-x indium-connect (assuming you have a .indium.json
file in your project).

Nico

[2019-04-30 07:19] NicolasPetton commented on #207
FinnFrotscher <notifications@github.com> writes:

In your case, it looks like

babel-node --inspect ...

should work.

[2019-05-07 13:35] Phylax-Aranatis opened #208 "Cannot launch (error in process filter)"
Hi there,

I'm completely new to JavaScript (albeit a seasones Emacs User) so I have followed the doc to the letter and I have also tried tried the [tutorial at emacs café](https://emacs.cafe/emacs/javascript/indium/2018/08/14/indium.html). Still **chances are I am missing something obvious that is implicitly presupposed in the docs.**

When I try to launch indium from the .indium.json file all I

[2019-05-13 10:59] hamzakc commented on #207
@NicolasPetton

I am in a similar situation. What would the .indium.json file look like ?

[2019-05-17 07:25] NicolasPetton commented on #187
@bigfish I opened a PR #210 which I think fixes your isssue.

[2019-05-17 07:26] #187 closed

[2019-06-01 20:08] maliky opened #211 "Cannot start indium"
I'm very sorry not to be able to get on my own even to the first step of setting up indium up and running.

I followed instruction in readthe docs,
but always get the following error when trying to connect to the indium server

[code]

node is v9.11.2
emacs 26.1
chromium 73.0.3683.8
I have websocket-20190408.152 working fine with ein-mode already
installed indium from melpa
and even with the basic

[2019-06-01 20:11] maliky commented on #211
I should mention that I installed  with melpa `exec-path-from-shell` and added
[code]
to my init.el before restarting emacs but still.

[2019-06-02 21:03] NicolasPetton commented on #211
Hi!

Indium listens on port 13840, and from the error log, that port is already taken.
It could be that you already have Indium running, did you start it manually?

If so, that's not needed, all you need to do is `M-x indium-connect` or `M-x indium-start`.

[2019-06-03 11:06] maliky commented on #211
Ok, thank you, `EADDRINUSE` is making sens now.

but starting starting again,
I:
- open emacs,
- move to my project directory (`foo`) where a basic .indium.json is.
- try to connect with `M-x indium-connect`

and here's the `*indium-debug-log*`
*indium-debug-log*
[code]
################
/foo/.indium.json
[code]

*Messages*
`Indium server error: connect ECONNREFUSED 127.0.0.1:9222`

I don't get whe

[2019-06-03 12:12] NicolasPetton commented on #211
The port 9222 is the standard port used in Chrome for remote debugging.
It looks like Chrome is already started, but without remote debugging enabled.

##### You can do 2 things to fix it:

- Use `M-x indium-launch` to let Indium start an instance of Chrome for you with the correct configuration. In this case the configuration file should have a `url` parameter:

[code]
- Start Chrome yourself wit

[2019-06-03 12:13] NicolasPetton commented on #208
Hi!

Could you paste your .indium.json file here please?

[2019-06-03 12:20] NicolasPetton commented on #207
Until Indium supports `babel-node`, @FinnFrotscher & @hamzakc the solution should be to start babel-node manually with something like

[code]

And then use `M-x indium-connect` to connect to the running process.

The .indium.json file pasted by @FinnFrotscher is correct, but the `command` will not work, that's why I'm suggesting to start the `babel-node` process manually.

[2019-06-03 12:22] NicolasPetton commented on #203
@flamingbear I haven't found the time to fix this issue yet, and I don't remember how to reproduce the bug...

Could you paste here the repo you used and the steps we took?

Thanks a lot!

[2019-06-03 14:29] maliky commented on #211
I'm very sorry, I'm lacking computer science background and don't quite understand what should happen here.

- This is probably a very dum question but I'm unsure.  Should the web server be started, or is it part of what indium will start ?
In my case, it has always be started but its root sometime was in a different folder than that for the indium server.

Now, I make sure that I run a small http

[2019-06-03 14:53] flamingbear commented on #203
Heh, did you see me in your gitter room yesterday?  :)
I can paste the repo and the steps to reproduce.  I'll try to get that done today.
Cheers.
Matt

[2019-06-03 15:00] NicolasPetton commented on #203
Matt Savoie <notifications@github.com> writes:

No, I didn't. I'm actually just back from 3 weeks in Sweden :)

Thanks, that would be great!

[2019-06-03 16:05] NicolasPetton commented on #211
Indium will start it for you.

Try executing `M-x indium-launch` instead to launch chrome and connect to the process.

    "configurations": [
	{
	    "name": "projet",
	    "type": "chrome",
	    "url": "http://localhost:8080/basic.html",
            "port": "8080"
	}
    ]
}

The `"port"` option is wrong, in your case you should simply remove it. It is used to specify the port to connect to the

[2019-06-03 16:40] flamingbear commented on #203
the project is nasa/cumulus  (https://github.com/nasa/cumulus)

from the ROOT directory.

You need to have the DEPLOYMENT environment variable set.
`M-x setenv`
DEPLOYMENT => fakeValueThatDoesNotMatter

from the example directory

with this as example/.indium.json

[code]

You should be able to break it with a simple `M-x indium-launch` then continue.

[2019-06-03 20:12] maliky commented on #211
OK, thank you... very much. I'm getting there.
- open emacs
- navigate to your .indium.json root floder
- and juste `M-x indium-lauch`
This open the `*JS REPL*` and it's better than the inspector console for my basic.html file.

But question.
Why don't I need `M-x indium-connect` ?  I don't have any `chrome-browse` process running before doing the launch.

[2019-06-04 11:37] NicolasPetton commented on #211
Malik Koné <notifications@github.com> writes:

indium-connect is used to connect to a Chrome instance that is already
running. To use it, you need to start chrome manually with the correct
debugging options.

The most common way to start Indium is to use indium-launch, which is
take care of starting a chrome instance Chrome for you.

[2019-06-04 11:37] #211 closed

[2019-06-06 08:38] maliky commented on #211
Thank you.

[2019-06-06 21:14] NicolasPetton commented on #203
I'm stuck with an error when I try to launch the process:

[code]

[2019-06-06 21:20] flamingbear commented on #203
I bet it needs an existing deployment value.  Sorry , try `DEPLOYMENT=mhs`

[2019-06-12 20:35] NicolasPetton commented on #189
@brandon-arnold Sorry for the late answer, are you still interested in seeing this issue fixed?

With the latest Indium from master, by changing

[code]

to:

[code]

Breakpoints work in `foo.js`.

I'm still investigating.

[2019-06-12 20:45] NicolasPetton commented on #189
Also, without babel-plugin-namespaces, debugging in `foo.js` also works. I pushed an extra commit so you can try here https://github.com/NicolasPetton/indium-reproduce-breakpoint-issue.

I'm not exactly sure what's wrong with babel-plugin-namespaces, but the Chrome debugger can't find the source files either, and when debugging the source-mapping, I get invalid paths, which in turn result in inval

[2019-06-12 20:46] NicolasPetton commented on #208
@Phylax-Aranatis I need more info to help you with this issue. Could you paste your .indium.json configuration file?

[2019-06-12 20:47] NicolasPetton commented on #208
@Phylax-Aranatis you should not start the `indium` server manually like this.

Instead, run `M-x indium-launch` from within Emacs, or `M-x indium-connect`.

[2019-06-12 20:51] brandon-arnold commented on #189
Thanks for asking, @NicolasPetton; no, I have left that project where this was an issue.

[2019-06-12 21:04] #207 closed

[2019-06-12 21:05] NicolasPetton commented on #207
@FinnFrotscher @hamzakc With the latest commit (and update from MELPA in the next build), you should be able to use `babel-node` in place of `node`:

[code]

Then `M-x indium-launch` should just work.

Can you confirm that it works for you?

[2019-06-12 21:07] NicolasPetton commented on #205
Hi! Sorry for the late answer, I'm trying to reproduce the issue right now.

[2019-06-12 21:19] NicolasPetton commented on #205
For the socket URL, look at the server component (nodejs side) of Indium, the Emacs client (the Elisp side) only communicates with it.
https://github.com/NicolasPetton/Indium/tree/master/server

[2019-06-12 21:27] NicolasPetton commented on #205
@sandinmyjoints I'm trying to reproduce the issue, but I think I'm doing something wrong.

I created a repository at https://github.com/NicolasPetton/indium-docker-issue

When I try to connect to the exposed port `9229` from docker, I get a connection reset, whether I try to connect from Indium or from `curl`.

It looks like I need your help first to be able to debug the issue :)

[2019-06-12 21:32] NicolasPetton commented on #189
Brandon Arnold <notifications@github.com> writes:

Thanks. Are you using Indium on other JS projects?

[2019-06-13 19:28] NicolasPetton commented on #205
@sandinmyjoints I found why it didn't work in my repository, the last commit fixed it.

Everything works fine with the latest version of Indium, can you have a look at my setup in https://github.com/NicolasPetton/indium-docker-issue?

[2019-06-13 19:33] NicolasPetton commented on #204
@jtkDvlp it means that the breakpoint never gets resolved.

Could you run `M-: (setq indium-client-debug t)` then try again.

Then please paste the contents of `*indium process*` and `*indium-debug-log*`.

[2019-06-14 01:20] brandon-arnold commented on #189
I am not at my current job! As I'm not working on any JS projects for which I'd be able to use it. I can definitely see debugging with Emacs down the road, though, if the opportunity arose.

[2019-06-15 21:25] sandinmyjoints commented on #205
Thanks for responding, @NicolasPetton! I will try this out the next opportunity I have -- really looking forward to using indium!

[2019-06-19 03:26] treydavis opened #212 "Show path in inspector"
I'd like to be able to see the path I've taken while exploring a deeply-nested object with `indium-inspector`:

`path.taken[3].through.a.deeply[0].nested.object`

[2019-06-19 18:58] NicolasPetton commented on #212
Trey Davis <notifications@github.com> writes:

Excellent idea!

[2019-06-26 19:50] NicolasPetton commented on #205
@sandinmyjoints I'm closing this issue for now as from my experiment the latest version of Indium works fine with Docker. If it's still an issue for you, feel free to reopen it.

[2019-06-26 19:50] #205 closed

[2019-07-03 17:15] sboosali opened #213 "indium-structs.el `:type`"
does the `:type` keyword work on slots? the manual suggests it only works on the type itself, which means whether the "representation" is a record, vector, or list.

<https://www.gnu.org/software/emacs/manual/html_node/cl/Structures.html>

[2019-07-12 12:26] kiemdoder opened #215 "Unexpected token export"
When I try to evaluate something like
[code]
with `M-x indium-eval-region` I get an "Unexpected token export" error.

[2019-07-15 14:54] NicolasPetton commented on #215
kiemdoder <notifications@github.com> writes:

That's expected, since you're evaluating the JS code outside of a
module. I think you will get the same behavior with Chrome/Firefox.

[2019-07-15 14:55] NicolasPetton commented on #215
However if you omit the `export`, it should work.

[2019-07-15 14:55] #215 closed

[2019-07-15 14:58] #213 closed

[2019-07-15 14:58] NicolasPetton commented on #213
No, you're right, it doesn't.

[2019-07-21 17:18] terlar commented on #202
Hello again, and sorry for the big delay. I was a bit busy when I came back and then I forgot about it. I now spent some time to update the repo, this time a simpler case without TypeScript so only need to look at the script paths.

Having docker + docker-compose installed, I run the following:
1. `bin/invoke -d 5858 -e event.json HelloWorldFunction`
2. Invoke `indium-connect` from the project.
3.

[2019-07-22 17:16] marcopompili commented on #204
I got the same problem on emacs 26.2 on Arch Linux, and I got some insight.
The breakpoints don't work if I use a symlink to my project

`indium-list-script-sources` lists the file I intend to debug (but it doesn't use the symlink):
[code]

While I dired this path (using a symlink):
[code]

I'm using the debugger with nodejs, here's the `.indium.json`, I have to use `inspect-brk` or breakpoints do

[2019-07-26 07:30] anquegi opened #216 "Cannot use breakpoints in a rails application"
Probably this is not a indium problem, but I canoot use breakpoints and I'm not sure how to configure the breakpoints. Y disables assets pipelines, active debug ... in rails enviroment files. but this equally serves files minified or precompiled, not from corrrect folder.

All works well:

![Captura de pantalla 2019-07-26 a las 9 04 53 (2)](https://user-images.githubusercontent.com/2518346/6193358

[2019-07-26 11:50] anquegi commented on #216
I also get this message in console:

Soucemap parsing failed for http://toni.ciberseguridad-telefonica.e-paths.com:3000/assets/ckeditor/ckeditor.self.js?body=1: Unexpected token < in JSON at position 0

[2019-07-29 07:12] anquegi commented on #216
I added the file d in .indium.json the key scriptPathRegexpOverrides, but notihing happens:

[code]

[2019-07-29 07:14] anquegi commented on #216
I also havve a Question with the "scriptPathRegexpOverrides", it also works with $1, $2 $3 ....

[2019-07-31 04:49] dukereg opened #217 "Indium server error: Unexpected token . in JSON at position 281"
When I try to launch indium inside emacs I get an error: `Indium server error: Unexpected token . in JSON at position 281`.

I enabled `debug-on-error` and `indium-client-debug` before running `indium-launch` but it all seems fine on the client side. `*indium-debug-log*` only says:
[code]

The config file was cobbled together from examples at the "Getting up and running" page (which clearly includ

[2019-08-13 20:45] kbeamnsidc commented on #203
I have a [small example project](https://github.com/kbeamnsidc/indy) I created to replicate this issue. Clone and `npm install`.

I have Emacs 26.1, indium server v3.4.1, emacs indium package v2.1.2 from melpa-stable. I've also replicated with indium 20190715.1457 from melpa.

Steps to reproduce:

1. Open Emacs in project dir
2. `M-: (setq indium-client-debug t)`
3. `M-x indium-launch`
4. Open `sr

[2019-08-24 16:29] Phylax-Aranatis commented on #208
Hi there,

my apologies for not getting back to you… Especially after you've tried three times… many thanks for that. I've tried another approach since and somehow lost track of this issue.

I have now taken another swing at Indium again though and the problem persists. The error message above (filter…) is the result of `M-x indium-launch` as well as `M-x indium-connect`. It was only for troublesh

[2019-09-03 13:54] Phylax-Aranatis commented on #208
Hi I've now tried launching with `error-on-debug` set to `t`. Here's what I get:

[code]

Maybe this helps tracking down the issue.

Many thanks and all the best

Oliver

[2019-09-05 08:06] NicolasPetton commented on #208
Thanks for the detailed report. I won't have time to look at it until next week, but I'll get back to you as soon as I have.

[2019-09-05 08:07] NicolasPetton commented on #217
Thank you for the detailed report! I won't have time to debug this until next week,but I'll get back to you as soon as I can!

[2019-09-05 08:09] NicolasPetton commented on #216
@anquegi could you provide a minimal Rails project so I can reproduce the problem?
Thanks!

[2019-09-05 08:10] NicolasPetton commented on #212
@treydavis Just so we're clear, you do not want a history of the navigation in the inspector, right?

[2019-09-05 08:11] NicolasPetton commented on #204
Thank you for the explanations.

IIUC, any JS file that is a symlink will cause this problem when setting a breakpoint in it?

[2019-09-05 08:12] NicolasPetton commented on #203
@flamingbear This issue https://github.com/NicolasPetton/Indium/issues/204 looks really similar to yours. I'll have a fix in master in a few days, would you mind trying again then?

[2019-09-05 14:10] flamingbear commented on #203
Yes, I certainly can try again when you release the fix.  Thanks.

[2019-09-05 18:33] treydavis commented on #212
Right, I was imagining a feature similar to what I've seen in `cider-inspect-mode`:
<img width="429" alt="Screen Shot 2019-09-05 at 11 11 51 AM" src="https://user-images.githubusercontent.com/1691239/64367945-0d9b3980-cfce-11e9-9ae6-7a77958869a3.png">

In Cider, I found that the feature is implemented on the server-side in https://github.com/clojure-emacs/cider-nrepl. It keeps an "inspector" map w

[2019-09-06 09:23] Phylax-Aranatis commented on #208
Thanks for getting back to me (and not being salty about my long silence)… looking forward to hearing from you!

[2019-09-15 19:28] JohnConner opened #218 "could not find executable (indium)"
fresh Ubuntu 18 install, installed latest emacs from source installed indium from melpa.

sudo npm install -g indium

all seemed to go ok, but when tried indium-launch the status bar indicated that emacs could not find the binary for indium.
I manually added the path to the indium binary in my .profile, and the problem was resolved.

[2019-09-16 10:51] NicolasPetton commented on #218
Have you setup nodejs properly? Do other bin files end up in your PATH?

[2019-09-16 21:41] JohnConner commented on #218
node works fine, no problem. Like I said - after I added the location of the indium binary to my path, it worked fine. I have another machine that Indium worked without a problem. No clue what the difference was.

[2019-09-25 19:03] NicolasPetton commented on #218
Ok, I'm closing the issue then.

[2019-09-25 19:03] #218 closed

[2019-09-25 19:10] NicolasPetton commented on #217
I could reproduce the issue ,and I just tried with the host in double quotes and that fixed the issue.

I pushed a fix in the documentation, but if you still get an error, please reopen this issue.

[2019-09-25 19:11] #217 closed

[2019-10-04 19:32] deviantfero commented on #202
I'm also having this issue, was anyone able to resolve this?

[2019-10-05 20:22] NicolasPetton commented on #202
@deviantfero I'm working on a fix!

[2019-10-06 00:23] deviantfero commented on #202
Thanks, this means a lot

On Sat, Oct 5, 2019, 2:22 PM Nicolas Petton <notifications@github.com>
wrote:

[2019-10-10 14:37] anquegi commented on #216
@NicolasPetton  Thanks for your replying, it was about my old project. Recently I created anew rails application following this [tutorial](https://medium.com/swlh/getting-started-with-rails-6-and-react-afac8255aecd) and it worked perfectly. I added the project with the indium configuration just for the example to a [github repo](https://github.com/anquegi/react_rails)

![indium_working](https://us

[2019-10-10 14:37] #216 closed

[2019-10-10 15:56] NicolasPetton commented on #216
Great, thank you

[2019-10-18 07:05] NicolasPetton commented on #202
I found out the reason: The `scriptPahtRegexpOverrides` only works one way for path transformation.

We need something else in this case, and I think I'll introduce a config option similar to `remoteRoot`.

[2019-10-21 17:32] deviantfero commented on #202
great, I was wondering if anything had come up, thanks for the update, looking forward to the fix!

[2019-10-22 21:30] #202 closed

[2019-10-22 21:32] NicolasPetton commented on #202
The latest commit from master has support for `remoteRoot`!

With the following .indium.json file

[code]

I can successfully set a breakpoint and debug using local files :)

You'll have to wait for the next MELPA build if you're using MELPA.

[2019-10-22 21:33] NicolasPetton commented on #202
It's also documented here https://indium.readthedocs.io/en/latest/debugger.html#setting-a-different-remote-root-nodejs

[2019-10-23 04:48] deviantfero commented on #202
Thank you so much, this is gonna make debugging a breeze!
any clue on how often this melpa builds happen?

[2019-10-23 19:19] NicolasPetton commented on #202
It's built already.

You will also want to update the NodeJS package to v5.0.0 https://www.npmjs.com/package/indium

[2019-10-28 21:57] NicolasPetton commented on #204
I pushed a fix in master, can you try again after the next MELPA build?

I'm closing the issue in the meantime, but if still a problem for you feel free to reopen it.

[2019-10-28 21:57] #204 closed

[2019-10-28 21:58] NicolasPetton commented on #203
@flamingbear I pushed the fix (it took a bit more than a few days...), however it deals with symlinks when resolving the *project root*, which might not be enough in your case.

[2019-10-28 22:24] NicolasPetton commented on #203
@flamingbear Also, make sure to update the indium server (nodejs component) to v5.0.0, it contains a few bugfixes, incluiding one related to nodejs & docker.

[2019-10-28 23:02] #189 closed

[2019-10-29 14:38] flamingbear commented on #203
That's ok.  I saw the fix on the other ticket, and I tried it, but I didn't explore too carefully.  I will try to get to this but it may be a week or so.  Thanks for the update.

[2019-10-30 20:20] NicolasPetton commented on #203
@kbeamnsidc The issue with your repository was related to the .indium.json file, I opened a PR with a fix: https://github.com/kbeamnsidc/indy/pull/2

[2019-10-30 21:31] NicolasPetton commented on #208
Hi @Phylax-Aranatis, I'm trying to reproduce your issue, but unfortunately I cannot.

In your .indium.json configuration, it looks like you're launching Chrome on a local HTML file using the file:// protocol? Or am I misunderstanding?

[2019-10-30 21:31] #134 closed

[2019-10-30 21:34] NicolasPetton commented on #143
@ivo- Indium nowadays shows the result of the evaluation for both `indium-eval-buffer` and `indium-eval-region`, so I'm closing this issue.

[2019-10-30 21:34] #143 closed

[2019-10-30 22:06] #198 closed

[2019-10-30 22:13] kbeamnsidc commented on #203
@NicolasPetton Ah, thank you. I've verified that it works. Sorry for that confusion--I misinterpreted the docs and thought `M-x indium-launch` would run on the file in the current buffer. Thank you for fixing it!

[2019-10-31 10:26] Phylax-Aranatis commented on #208
Hi, many thanks for getting back to me. I have tried both, local file and my local XAMPP

i.e.  putting the follwing in the indium.json:
[code]
All yield the same error.

On a personal note: My way through web development has now taken a somewhat different path and I don't find myself coding JS directly all that often anymore… I do the vast majority in ClojureScript so getting indium to work has b

[2019-10-31 12:17] NicolasPetton commented on #208
Phylax <notifications@github.com> writes:

If you're experiencing this problem, chances are others experience the
same issue, so I would still like to find the root cause and fix it :)

[2019-11-01 14:32] flamingbear commented on #203
Hey I tried this out and it seems to work better than before.  I'm able to set breakpoints in my code (that show up as open circles), but when I run the debugger with `indium-launch` they eventually fill in and the debugger and pause allowing me to step through the code as expected.  I will close this and open a new ticket if I find other problems.

Thanks for the work on this ticket and this prod

[2019-11-01 14:32] #203 closed

[2019-11-04 09:01] NicolasPetton commented on #203
Matt Savoie <notifications@github.com> writes:

That's really good news!

Nico

[2019-11-05 03:07] sandinmyjoints opened #221 "Multiple connections?"
This is a fantastic package -- thanks for it @NicolasPetton! I got it up and running with both Node apps running Docker and client-side apps bundled with webpack with only an hour or two of effort, most of it on getting sourcemaps to work with webpack (our webpack configurations are fairly complex, but in the end, the changes I had to make to the default mapping were actually tiny!).

Anyway, I wa

[2019-11-05 03:18] baerrach opened #222 "building indium locally"
My emacs-fu has recently increased so I thought I'd try to contribute to Indium to get my node/jest issues sorted.

However, I have not progressed to the level of building emacs packages.

I've tried running `make`  but I get the error `Cannot open load file: No such file or directory, buttercup`

[code]

Buttercup being the BDD test framework isn't part of Indium.

Are there any documents on buil

[2019-11-05 03:24] baerrach commented on #222
Its been a lifetime ago that I used Makefiles.

Instead of just running `make` and praying I had a peek inside.

Running `make dependencies` installed what I needed.

Then `make` works fine.

Now to work out why I have `18 failures` from a clean clone.

[2019-11-05 04:23] baerrach opened #225 "race condition in queue tests"
I've modified `server/spec/helpers/queue-spec.js` to only run one test using `fit`:
[code]

Then ran the test using `jasmine --random=true --seed=35084`

Sometimes it works.

When it fails I get this message:

[code]

[2019-11-05 04:24] baerrach commented on #225
[code]

[2019-11-05 04:25] baerrach commented on #225
Hacking in a `console.log` and praying for a failure prints
[code]

[2019-11-05 05:52] baerrach commented on #225
The queue implementation used `setTimeout`, so the tests could never check whether the added tasks were completed.

[2019-11-05 07:59] NicolasPetton commented on #221
William Bert <notifications@github.com> writes:

Great to hear!

Not at the moment (although that something I would like to have myself,
so I might start working on it one day). There's nothing preventing
multiple connections, it's just that the Emacs package does not support
it.

Nico

[2019-11-07 18:03] sandinmyjoints commented on #221
Thanks for the reply, sounds good!

Separate question: I've noticed that when I have a chrome debugging sessino open, and then I do indium-launch with the same chrome configuration, a new chrome tab is opened, but at least sometimes, indium continues to communicate with the previous tab. Is there something in the chrome debugging protocol that identifies which tab to communicate with? Maybe that's

[2019-11-07 19:16] Jumblemuddle opened #227 "experimental-repl-await"
Indium doesn't seem to work with Node's `--experimental-repl-await` flag.

`.indium.json`
[code]
Running `await 1`  in `*JS REPL*` still results in `SyntaxError: await is only valid in async function`.

[2019-11-08 08:53] NicolasPetton commented on #221
William Bert <notifications@github.com> writes:

Indium always connects to the active tab in Chrome, not the last open
one. Could that be why?

[2019-11-09 01:10] sandinmyjoints commented on #221
Hm, what defines active? In my experience, it does not always communicate with the most recently launched tab (which has focus -- I'm not switching tabs manually or otherwise touching the browser). It's not a big problem -- I run `window.alert("it's me")` in the repl and whichever tab speaks up is the one indium is talking to :)

[2019-11-12 16:47] deviantfero commented on #202
great, I was on vacation so I did not have the chance to test it out, will do today!

thank you for this awesome project

[2019-11-13 15:16] NicolasPetton commented on #202
You're welcome!

[2019-11-14 08:17] #225 closed

[2019-11-14 08:19] NicolasPetton commented on #227
Thanks, I checked in Chrome devtools and it works, so I'll investigate.

[2019-11-14 08:25] NicolasPetton commented on #222
`make dependencies` was what you were looking for. It's not documented, as I'd users to install Indium through Melpa.

I'm closing this issue, but do you still have 18 failures?

[2019-11-14 08:25] #222 closed

[2019-11-14 21:15] sandinmyjoints opened #228 "Coffeescript inlined source maps in ephemeral javascript support"
We have a node application with an entrypoint in Javascript that calls `require('coffee-script/register')` in order to support some files in the application written in Coffeescript. The effect this has is to compile the Coffeescript to Javascript on the fly -- no Javascript files are written to disk, the compiled Javascript only exists in memory in the node process. Inline source maps are included

[2019-11-14 21:17] sandinmyjoints commented on #228
I guess one thing I can test is whether I can set breakpoints using Chrome as the debugger. My recollection is that I have done this in the past, but that would have been a while ago so I'm not 100% sure about it.

[2019-11-14 22:26] baerrach commented on #222
**40 specs, 0 failures**

However, I've just transitioned to `straight.el` so my Indium instance is hackable inside `~/.emacs.d/straight/repos/Indium` via git.

Running `make dependencies` is installing stuff into `~/.emacs.d/elpa/<package>` which is no longer being used since `straight.el` disables `package.el`.

I'll have to ponder that one...

[2019-11-21 10:59] NicolasPetton commented on #221
That's really odd, it's an issue I never have. The active tab is the current tab in Chrome, and it always work for me.

What version of Chrome/Chromium are you using?

[2019-11-21 14:26] NicolasPetton commented on #228
Yes, if you can set breakpoints in Chrome, then Indium should support it.

[2019-11-30 22:37] jZhangTk commented on #221
I'd also like to see multiple connections since the project I'm working on has multiple services and sometimes I need to debug more than one service at the same time.

[2019-12-03 10:17] dupuchba opened #230 "Import statement outside a module"
Hello all,

First of all I'd like to thank Nicolas & contributors for this mode, I avoid really hard to write javascript but this mode make it a lot less painful.

I have a question about the workflow.
Typically when I write clojure/elisp I have a REPL centric approach which is magic.
I'd like to replicate to the max this approach but I don't see how :
- when I load a buffer I got the `import stat

[2019-12-03 12:42] NicolasPetton commented on #230
Baptiste DUPUCH <notifications@github.com> writes:

Hi!

Could you show us the code you're trying to evaluate?

Thanks,
Nico

[2019-12-03 12:44] dupuchba commented on #230
for e.g.

[code]

[2019-12-03 13:42] NicolasPetton commented on #230
I see. Can you try evaluating the import in Chrome's console, and tell
us if that works? If it works in Chrome, then it should work in Indium,
otherwise it should be considered a bug.

[2019-12-03 14:43] dupuchba commented on #230
It does not work in chrome dev tool.
It is a Vuejs typical project.
I am wondering if it is even possible :'(

[2019-12-04 09:27] dupuchba commented on #230
Before closing this issue, have you ever make it work ? importing module from console/indium ?
If so, is there a blank project that I can look at ?

[2019-12-04 14:28] NicolasPetton commented on #230
TBH I never tried that.

[2019-12-05 07:25] sandric opened #231 "Connecting to Windows 10 Chrome from WSL2 emacs?"
For some reason I can not connect to chrome running `indium-connect` command - constantly getting 'Indium server error: connect ECONNREFUSED 127.0.0.1:9222'. My chrome is running under windows 10 and my emacs is running under WSL2. I edited mine chrome shortcut to consist such parameters: `"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --user-data-dir=C:\ChromeDevSessions --disable-

[2019-12-09 09:43] ilanp13 opened #232 "breakpoints not working"
hey,

i've installed indium by npm, and installed it in emacs from MELPHA.
in general it works fine.
if i put "debugger" in the code it does break there.
but when i add breakpoint they are added as empty circles, and not dots, and then they don't work (the stepping debugger "step over" them.

will appreciate any help.
Thanks!

[2019-12-09 10:23] dupuchba commented on #230
Thanks a lot for your time and excellent mode !
I found a "trick" that match my need when working with Vuejs / Webpack project.

If you find a way to access Vue global object you can then call all the API and have a REPL workflow for checking/mutating state while testing your function !
In the Vuejs, when plugin is installed, you have the global object bind to $vm0

[2019-12-09 10:23] #230 closed

[2019-12-10 14:04] NicolasPetton commented on #232
Ilan Peretz <notifications@github.com> writes:

Hi!

Can you tell us more about your project?

- nodejs/web?
- OS?
- Do you use sourcemaps?
- Do you bundle the JS files?
- what does your .indium.json file look like?

Thanks!

[2019-12-10 15:40] ilanp13 commented on #232
hey,

so far it's not a project, i just run a simple js script in nodejs, just in order to check indium.
i'm trying to run nodejs script,
my OS is gentoo,
no sourcemaps/bundles for now,
and my .indium.json file looks like this:
{
  "configurations": [
    {
      "name": "tester",
      "type": "node",
      "command": "node ./script.js",
      "inspect-brk": "true",
      "root": "./"
    }
  ]
}

[2019-12-13 23:05] enesaki opened #233 "No completion in javascript buffer."
Hello,

There is very good complétion in REPL buffer and in indium-scratch buffer.
In indium-scratch buffer or in REPL, company-mode display a liste after
typing .(dot) :

var testA = [];
testA.length
        constructor
        concat
        copyWithin
        .....

But no completion after .(dot) in  javascript buffer with
indium-interaction-mode :
(this is the default completion of emacs/compa

[2019-12-18 18:06] stormwatch opened #234 "Question: org-mode ob-js.el sessions"
Hello.

https://code.orgmode.org/bzg/org-mode/src/master/lisp/ob-js.el#L47 refers to `indium-run-node` which no longer exists.

Do you think it would be possible to replace it with `indium-launch-nodejs`?

What configuration should I provide in my `.indium.json` file?

Thank you

[2020-01-15 15:48] chadhs opened #235 "cannot eval a buffer more than once if there are any const definitions"
I can't figure out how to leverage indium with any code that contains a const once you eval the buffer a single time.  I had the idea of having the node command in the indium config be `nodemon index.js` but that yields an error telling me that is an invalid command.

is this just not possible; or is something obvious whooshing over my head.

thanks!

[2020-01-16 08:51] NicolasPetton commented on #235
Indeed, I made changes in the .indium.json config file to handle such cases, but it's not in master yet.

See https://github.com/NicolasPetton/Indium/commit/2cf4cf485888ae0dcfa79012872d3c835ab62355

[2020-01-16 12:33] NicolasPetton commented on #234
Hi!

It would definitely be doable, but since Indium's connection to a NodeJS process has changed completely, I think there would be changes needed both in Indium and ob-js:

- Indium should be able to evaluate JavaScript in a Node runtime without an indium.json file
- NodeJS process would have to be started on the fly by Indium.

[2020-01-16 12:36] NicolasPetton commented on #233
That's expected. Indium only offers completion in the REPL buffer.

[2020-01-16 12:36] #233 closed

[2020-01-16 12:37] NicolasPetton commented on #232
@ilanp13 can I see the content of `script.js`?

[2020-01-16 12:38] NicolasPetton commented on #231
Have you tried to `curl localhost:9222` from WSL2?

[2020-01-16 12:41] NicolasPetton commented on #228
@sandinmyjoints Can you confirm that breakpoints work in Chrome?

[2020-01-16 12:47] #235 closed

[2020-01-16 12:48] NicolasPetton commented on #235
@chadhs Commit 7ce9497 fixes the issue, however the NodeJS configuration settings have changed as well: https://indium.readthedocs.io/en/latest/setup.html#nodejs-configuration-options

[2020-01-17 14:51] chadhs commented on #235
@NicolasPetton awesome; thanks for getting back to me, i will give this a try  shortly.  :-)

[2020-01-17 17:25] sandinmyjoints commented on #228
I haven't had the chance to do so. I'm with closing this issue for now since I don't know when I'll get a chance to move it forward.

[2020-01-17 17:25] #228 closed

[2020-01-22 20:10] sandinmyjoints opened #236 "Connection refused using Indium, works with Chrome"
I have this configuration:
[code]
When I `indium-connect` to it, I get `Received: ((id . 2) (type . error) (payload (error . connect ECONNREFUSED 127.0.0.1:9028)))`

When I manually start it with `node --inspect-brk --inspect-port 9028 ./node_modules/.bin/jest --runInBand --config=jest-components.config.js --color=no src/components/vocab-quiz/stores/vocab-quiz/actions/test.js`, Chrome sees it and

[2020-02-12 08:13] NicolasPetton commented on #236
You need to start the node process when starting indium, the best way to do that is to `M-x indium-launch`, instead of `indium-connect`.

[2020-02-12 12:36] DamienCassou opened #237 "Can't list breakpoints in Emacs 27"
`indium-list-breakpoints` calls `xref--show-xrefs` with a list of xrefs as argument. However, this private function takes a `fetcher` as argument, not a list of xrefs. The `fetcher` must be a function that returns xrefs (see `xref--show-xref-buffer`). This changed in http://git.savannah.gnu.org/cgit/emacs.git/commit/?id=62349fe82ad42d7d2a7fb19e40860ee5d6ebd017.

[2020-02-22 11:03] bobrowadam opened #238 "breakpoint doesnt work in node.js with typescript"
Hi,
It seems that when setting a breakpoint on a `.ts` it doesnt work. adding `debugger` manually on the same line works. Also, adding breakpoint with indium on the transpiled `.js` file also works fine.
Is that expected?
Thanks

tsconfig:
[code]

.indium.json
[code]

[2020-02-23 11:48] nverno opened #239 "Focus switches from emacs to chrome while debugging"
I'm on Ubuntu with emacs 28.

When stepping with the debugger attached to chrome, chrome steals focus after each step.  So, I have to switch back to emacs' window after each command.  Is this expected -- do you see the same behaviour?
Any guidance would be appreciated. Thanks!

[2020-02-26 08:22] NicolasPetton commented on #239
nverno <notifications@github.com> writes:

Hi,

Yes, Chrome will steal the focus if the devtools are open in Chrome. It
should not steal the focus otherwise though.

[2020-02-26 23:22] nverno commented on #239
Thanks! That makes sense -- I suppose any fix would depend on the windowing system, so perhaps just close this?

[2020-03-02 09:15] NicolasPetton commented on #239
Yes, closing.

[2020-03-02 09:15] #239 closed

[2020-03-09 03:57] itsdaiego opened #240 "Sourcemaps: Ignore certain folders"
Hello!

First of all if this question is either already answered or on the docs I apologize in advance, if that's not the case let's go :)

I'm currently having some sourcemaps errors in SOME applications (I created some docker and regular apps before that worked just fine):
![image](https://user-images.githubusercontent.com/4576630/76174857-7b483e00-6188-11ea-8e28-e41773c674fe.png)

The breakpoin

[2020-03-10 10:26] NicolasPetton commented on #238
It's not expected at all.
I do not use TypeScript, but sourcemaps should just work.

I'll investigate and will try to reproduce the issue.

[2020-03-10 10:28] NicolasPetton commented on #240
@itsdaiego I'd like to find out why the sourcemap fails, could you give me steps to reproduce the issue?

[2020-03-10 10:29] #236 closed

[2020-03-10 16:35] itsdaiego commented on #240
Sure here we go:

1 -  I cloned this repo https://github.com/pagarme/superbowleto
2 - Change this [line](https://github.com/pagarme/superbowleto/blob/ca8ac007e9c345d9d65bd789594e7a964ec469cf/docker-compose.yml#L77) to `node --inspect=0.0.0.0 bin/src/server`
3 - inside `superbowleto-web` add this:
[code]
4 - Use the same .indium.json as described above
5 - run `indium-connect ` on any file (I used`

[2020-03-11 16:28] itsdaiego commented on #240
Hello, I don't know if it helps but something that I didn't notice before is that these errors also appear on the devtool's console:

![image](https://user-images.githubusercontent.com/4576630/76440119-2715a780-639c-11ea-9091-dd5f312a52a4.png)

So it probably doesn't have anything to do with Indium itself, although I still don't know how to debug or solve the issue 🤔

[2020-04-06 15:58] itsdaiego commented on #240
Hello @NicolasPetton is there anything I can do to help your further?

[2020-04-19 11:53] mngb opened #242 "No file found for debugging issue"
![图片](https://user-images.githubusercontent.com/49398256/79687008-ebada900-8276-11ea-9f1e-fd967c4b2692.png)
After run 'indium-launch' under a nodejs project, prompt:
No file found for debugging (sourcemap issue?), download script source (might be slow)? (y or n) y
And if chose 'y', no js file pop up, only print file contents in "JS Debugger" buffer, and unable to insert breakpoint anymore.
configu

[2020-04-19 14:02] mngb commented on #242
i'm sure this issue duplicate with that in https://github.com/NicolasPetton/Indium/issues/232.

[2020-05-04 07:38] bobrowadam opened #243 "Conditional breakpoints - condition has no effect"
Defining a breakpoint condition has no effect.
I'm using emacs `28.0.50` (current HEAD) branch so it might be related.
I tried to test that with emacs 26.3, and it worked as expected.
Let me know if you want some more information or even help with debugging.
Thanks!

[2020-05-06 08:08] mokanfar opened #244 "Continuous Interactive Mode Workflow"
Hello I was under the impression indium was like quokka (it is first result in google when searching for "quokka emacs").

Is interactive indium mode like quokka or not? Having a hard time getting a basic example to work such as:
- js2-minor mode enabled in buffer
- indium interactive mode enabled in buffer
- indium-connect works

test file test.js:
[code]

indium json:
[code]

running separate co

[2020-05-13 16:12] Eason0210 opened #245 "‘map-put’ is an obsolete macro (as of 27.1)"
I got the below errors when open html file with javascript code.
In the JS RPEL mode, the delay was very high when i inputed code.

`../../home/my-emacs/site-lisp/extensions/Indium/indium-client.el: ‘map-put’ is an obsolete macro (as of 27.1); use map-put! or (setf (map-elt ...) ...) instead  `
`../../home/my-emacs/site-lisp/extensions/Indium/indium-breakpoint.el: ‘map-put’ is an obsolete macro (a

[2020-06-03 13:56] wmartins commented on #238
Got into the same problem. I think it's related when we use the `outDir` option in TypeScript compilation.

In my case, I have the following directory structure:

[code]

When I run `M-x` `indium-list-sourcemap-sources`, I get the following sources (all red ones):

[code]

In this case, it should be (note the `ts-project` in the path):

[code]

---

The funny thing is that when I compile my code *

[2020-06-10 04:09] zeta-00 opened #246 "a server is down?"
hello there, i'm a nix user here and i tried to install the emacs package `indium` from nixpkgs, but for some reason it is causing an error to be thrown, i'm guessing it's because a server is down? here's the the error message from the terminal:

building '/nix/store/64j9c70c8l817rnkrdhx9dddl87gs55c-json-process-client-422606a.drv'...
exporting https://gitea.petton.fr/nico/json-process-client.git

[2020-06-13 14:24] timotheosh opened #247 "Indium chrome project does not start httpd"
Indium-launch on a chrome project does not start an httpd server.
### How to replicate:
Install Indium from melpa
Create a javascript project directory
Place a minimal Indium project json file in project directory as .indium.json. e.g.
[code]
Open a js file in the project, and run `indium-launch`

Indium connects to the debugger, and the repl is open, no logs reporting errors. But alas, chrome get

[2020-06-15 18:50] aang7 commented on #198
Same problem here, there is no way to achieve the evaluation of code without running the debugger yet?

[2020-06-19 06:33] KhalfaniWadlington commented on #198
The config:
[code]
will not work because it is `command` is an invalid argument.

 The current docs say the command should be split between "program" and "args". Running this gave me `Indium server error: Cannot find context with specified id` because there was no context because the script had been run without pausing on a breakpoint or `debugger;` statement.

[code]

I used this config with  `"i